.order-number {
    font-weight: 500;
}
.order-state {
    margin-left: auto;
    margin-right: var(--default-padding);
}
.body-row {
    display: flex;
    position: relative;
    padding: 8px 0;
}
.sum {
    position: relative;
}
.cost-visibility-button {
    position: absolute;
    right: -16px;
    top: -10px;
    width: 50px;
    height: 50px;
}
.price {
    font-size: 20px;
    display: flex;
}
.price > * {
    opacity: 0.35;
}
.amega-price {
    margin-left: 4px;
}
.black {
    opacity: 1;
}
.currency {
    font-size: 14px;
}
.constructions-row {
    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.constructions-row > *:not(:last-child) {
    margin-right: 8px;
}
.dates-row {
    justify-content: space-between;
}
.date,
.number {
    font-size: 12px;
    font-weight: 500;
}
.client-name {
    font-size: 12px;
    font-weight: 500;
}
