.order-constructions {
    display: flex;
    align-items: center;
}
.row.energy {
    background-color: var(--bg-color);
    background-image: url('../../../../resources/images/energy-pattern.png');
}
.order-constructions > *:not(:last-child) {
    margin-right: 8px;
}
.price {
    font-weight: bold;
    color: var(--black-color);
    white-space: nowrap;
}
.more-text {
    height: 28px;
    display: flex;
    align-items: flex-end;
}
