.new-orders-page-sidebar {
    margin-left: var(--default-padding);
}
.new-orders-page-sidebar-item--created-date {
    z-index: 3;
}
.new-orders-page-sidebar-item--states {
    z-index: 2;
}
.new-orders-page-sidebar-item--order-name input {
    width: 100%;
}
.new-orders-page-sidebar__range-slider {
    justify-content: space-between;
}
.sidebar-item:last-of-type {
    border: none;
}
