.events {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}
.list {
    flex-grow: 0;
    overflow: auto;
}
.row {
    display: flex;
    align-items: flex-start;
    border-bottom: var(--default-border);
    padding: 0px 0 14px 25px;
    color: var(--control-text-color);
}
.text {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    flex-grow: 1;
    line-height: 16px;
    text-decoration: none;
    color: inherit;
}
.text:hover,
.text:focus {
    opacity: 0.85;
}
.toggle-read {
    position: relative;
    width: 34px;
    height: 34px;
    padding: 0;
    margin-left: 8px;
    flex-shrink: 0;
}
.toggle-read::after {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    left: 13px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--mercury-color);
}
.toggle-read.unread::after {
    background: var(--primary-color);
}
.unread {
    background: var(--bg-color);
}
.read-all-button {
    font-weight: 500;
    font-size: 14px;
    color: var(--control-text-color);
    align-self: center;
    padding: 11px 20px;
    margin-top: auto;
}
.date {
    color: var(--placeholder-color);
    font-size: 12px;
    line-height: 12px;
}
.mobile .date {
    margin-top: 8px;
}
.description span {
    color: var(--primary-color);
}
