.form {
    width: 260px;
}
.title {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 49px 0 24px;
}
.title.mobile {
    margin: 23px 0 12px;
}
.login {
    align-self: center;
}
