.form {
    display: flex;
    flex-direction: column;
}
.input {
    margin-bottom: 12px;
    width: 100%;
}
.button {
    width: auto;
    margin-top: 24px;
    margin-bottom: 12px;
}
.modal .button {
    order: 6;
    font-size: 12px;
    margin: 0;
}
.links {
    margin: 16px 0;
    align-items: flex-start;
}
.select {
    margin-bottom: 4px;
}
.description {
    margin-bottom: 12px;
}
.conditions {
    margin-bottom: 24px;
}
.conditions-text {
    margin-left: 6px;
}
.modal {
    --control-height: 32px;
}
.modal .conditions {
    margin: 0;
}
.form-error {
    color: var(--error-color);
    font-size: 12px;
}
.mobile .input {
    margin-bottom: 8px;
}
.mobile .button {
    margin-top: 12px;
}
.mobile .conditions {
    font-size: 10px;
    margin-bottom: 0;
}
.mobile .description {
    align-self: center;
}
.mobile .link {
    font-size: 10px;
}
.mobile .checkbox {
    margin-bottom: -1px;
}
