.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: var(--header-z-index);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: var(--black-color);
}
.container {
    width: 100%;
    background: var(--white-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: var(--default-transition);
    padding: 0 var(--default-horizontal-page-padding) 0 4px;
}
.cash-mode .container {
    background: var(--iron-color);
}
.menu-button {
    width: 44px;
    height: 44px;
    padding: 0;
    margin-right: 2px;
    background: url('./resources/menu-button.svg') center no-repeat;
}
.notification-button {
    margin-left: auto;
}
.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.controls {
    display: flex;
    align-items: center;
}
.action-button {
    background: var(--yellow-color);
    color: var(--text-inverse-color);
    width: 100%;
    padding: 6px 0 8px;
    text-align: center;
    text-decoration: none;
}
.action-button:focus,
.action-button:hover {
    text-decoration: underline;
}
