.password-input {
    position: relative;
}
.input {
    width: 100%;
}
.input input {
    padding-right: 34px;
}
.button {
    position: absolute;
    right: 0;
    top: 0;
    padding: calc((var(--control-height) - 18px) / 2);
    border: 1px solid transparent;
    border-radius: var(--control-border-radius);
    box-sizing: content-box;
}
.button:focus {
    border: 1px solid var(--primary-color);
}
