.card {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card.subview {
    padding-top: 7px;
}
.content {
    padding: var(--default-padding);
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
}
