.page {
    padding: var(--default-vertical-page-padding) var(--default-horizontal-page-padding);
    min-height: calc(var(--vh) * 100 - var(--header-height));
    box-sizing: border-box;
    background: #fff;
}
.owner {
    margin-bottom: 6px;
}
.details {
    margin-bottom: 20px;
}
.title {
    margin-bottom: 12px;
}
