.expandable__header {
    cursor: pointer;
}
.expandable__body {
    transition: var(--default-transition);
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
}
.expandable__fake__body-wrapper {
    height: 0;
    position: relative;
    overflow: visible;
}
.expandable__fake__body {
    max-height: 999999px !important;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
}
.expandable__fake__body .expandable__body {
    max-height: 999999px !important;
}
.expandable > .expandable__body {
    overflow: hidden;
}