.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 260px;
}
.title {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 55px 0 24px;
}
.demo-title {
    text-align: center;
    margin-bottom: 12px;
}
.reset-password {
    margin-bottom: 18px;
    align-self: center;
}
.submit-button {
    width: auto;
}
.registration {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    align-self: center;
}
.demo-login-button {
    margin-top: 76px;
    font-size: 12px;
    line-height: 16px;
    align-self: center;
    padding: 12px;
}
.mobile .demo-login-button {
    margin-top: 12px;
}
.demo-login-button:hover,
.demo-login-button:focus {
    text-decoration: underline;
}
.email-input {
    margin-bottom: 12px;
}
.password-input {
    margin-bottom: 10px;
}
.mobile .email-input {
    margin-bottom: 8px;
}
.mobile .password-input {
    margin-bottom: 12px;
}
.select {
    width: 260px;
    margin-bottom: 10px;
}
