.margins {
    display: flex;
}
.price > input {
    width: 42px;
}
.item {
    margin-right: 40px;
}
.title {
    margin-bottom: 20px;
}
.mobile {
    flex-direction: column;
}
.mobile .item:not(:last-of-type) {
    margin-bottom: 20px;
}
