.modal {
    min-width: 256px;
    height: 160px;
    background: var(--bg-color);
    background-image: url('../../../resources/images/energy-pattern.png');
    border: var(--default-border);
    box-sizing: border-box;
    border-radius: var(--default-border-radius);
    padding: 12px 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.title {
    color: var(--control-text-color);
    position: relative;
    padding-left: 20px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}
.title:hover,
.title:focus {
    opacity: 0.7;
}
.title::before {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    width: 12px;
    height: 16px;
    background: url('../../../resources/images/energy-icon.svg') no-repeat;
}
.list {
    display: grid;
    grid-template-columns: 150px minmax(max-content, 1fr);
    column-gap: 14px;
    row-gap: 7px;
}
.row {
    display: flex;
    align-items: center;
}
.available-bonuses {
    color: var(--green-color);
}
.potential-bonuses {
    color: var(--manatee-color);
}
.value {
    margin-left: auto;
    white-space: nowrap;
}
.hint {
    margin: 0 4px;
}
.progress-bar {
    width: 224px;
    height: 10px;
    background: var(--white-color);
    border: 1px solid var(--silver-color);
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 16px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}
.progress {
    height: 4px;
    margin-left: 3px;
    margin-right: 3px;
}
.row-prize {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prize-bonuses {
    font-size: 12px;
    line-height: 16px;
}
.kvadr {
    display: flex;
    align-items: center;
}
.red-prize {
    background-color: #F52053;
}
.green-prize {
    background-color: #22B56E
}
.red-prize-text {
    color: #F52053;
}
.green-prize-text {
    color: #22B56E
}