.draggable {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--vh) * 100);
    z-index: var(--menu-z-index);
    box-sizing: border-box;
}
.wrapper {
    min-width: 256px;
    max-width: 80vw;
    height: 100%;
    background-color: var(--menu-bg-color);
    transition: transform 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.menu {
    font-size: 14px;
    line-height: 24px;
    color: var(--text-inverse-color);
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-button {
    width: 46px;
    height: 46px;
    background: url('./resources/close-menu.svg') no-repeat center;
}
.item {
    background-color: var(--menu-bg-color);
    transition: background-color 0.4s ease-in-out;
}
.item.active {
    color: var(--malibu-color);
}
.item.opened {
    background-color: var(--shark-color);
}
.item.active .icon path[fill] {
    fill: var(--malibu-color);
}
.item.active .icon path[stroke] {
    stroke: var(--malibu-color);
}
.link {
    color: inherit;
    text-decoration: none;
    padding-right: 10px;
    display: flex;
}
.icon {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}
.title {
    padding: 10px 0;
}
.submenu {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}
.opened .submenu {
    max-height: 300px;
}
.submenu-link {
    color: var(--placeholder-color);
    text-decoration: none;
    margin: 0 18px 0 50px;
    border-top: 1px solid var(--menu-bg-color);
    line-height: 17px;
    position: relative;
    padding: 5px 0;
}
.submenu-link.active::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: var(--placeholder-color);
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: -28px;
}
.logout-button {
    height: 44px;
    padding: 0 10px 0 0;
    flex-shrink: 0;
    margin-top: auto;
    display: flex;
    align-items: center;
    color: var(--text-inverse-color);
}
.chat {
    height: 44px;
    padding: 0 10px 0 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: var(--text-inverse-color);
    background-color: var(--primary-color);
}
.chat.hidden {
    display: none;
}
.chat::before {
    display: block;
    content: '';
    width: 44px;
    height: 44px;
    background: url('../../common/menu/resources/chat_icon.svg') no-repeat center;
    background-size: 19px;
    margin-right: 10px;
}
.balance {
    display: flex;
    align-items: center;
    padding: 10px 16px 10px 10px;
    color: var(--placeholder-color);
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 14px;
}
.balance-mode {
    margin-left: 8px;
}
.dealer {
    display: flex;
    padding: 16px 12px 0;
    margin-bottom: 4px;
}
.avatar {
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    background: #9ac443;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-inverse-color);
    text-transform: uppercase;
    flex-shrink: 0;
    margin-right: 18px;
}
.dealer-info {
    display: flex;
    flex-direction: column;
    color: var(--placeholder-color);
    font-size: 12px;
    line-height: 16px;
}
.negative-balance {
    color: var(--error-color);
}
.dealer-name {
    color: var(--text-inverse-color);
    font-size: 14px;
    line-height: 18px;
}
.drag-zone {
    width: 16px;
    height: 100%;
    right: -16px;
    top: 96px;
    position: absolute;
}
.bonus-score {
    padding: 14px 16px 0 48px;
}
.bonus-list {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
}
.bonus-row {
    display: flex;
    padding: 8px 0 7px;
    align-items: center;
}
.bonus-row:not(:last-of-type) {
    border-bottom: 1px solid var(--trout-color);
}
.bonus-row {
    padding-top: 12px;
}
.details-link {
    padding-bottom: 16px;
    color: var(--placeholder-color);
}
.available-bonuses {
    color: var(--green-color);
}
.potential-bonuses {
    color: var(--manatee-color);
}
.value {
    margin-left: auto;
    white-space: nowrap;
}
.current-value {
    font-weight: 500;
    opacity: 0;
    font-size: 12px;
    transition: opacity 0.4s ease-in-out;
}
.current-value.visible {
    opacity: 1;
}
.hint {
    margin: 0 4px 0 8px;
}
.bonus-title {
    position: relative;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
}
.bonus-title::before {
    content: '';
    display: block;
    width: 12px;
    height: 16px;
    position: absolute;
    left: -30px;
    top: 5px;
    background-image: url('../../../resources/images/energy-icon.svg');
}
.discount {
    margin-top: 8px;
}
.progress-bar {
    width: 192px;
    height: 10px;
    background: var(--white-color);
    border: 1px solid var(--silver-color);
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}
.progress {
    height: 4px;
    margin-left: 3px;
    margin-right: 3px;
}
.red-prize {
    background-color: #F52053;
}
.green-prize {
    background-color: #22B56E
}
.red-prize-text {
    color: #F52053;
}
.green-prize-text {
    color: #22B56E
}