.order-page {
    height: calc(var(--vh) * 100 - var(--header-height));
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.add-construction {
    margin-left: 12px;
    margin-right: 14px;
}
