.empty-message {
    font-weight: 400;
    line-height: 20px;
    color: var(--placeholder-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: center;
}
.message {
    font-size: 14px;
}
.description {
    font-size: 12px;
    margin-top: 20px;
}
.icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--bg-color) url('./resources/empty-icon.svg') no-repeat center;
    margin-bottom: 24px;
}
.mobile .icon {
    width: 80px;
    height: 80px;
    background-size: 40px;
}
