.button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    width: max-content;
    box-sizing: border-box;
    font-size: var(--control-font-size);
    letter-spacing: 0.5px;
}
.button.with-border,
.button.with-fill {
    padding: 0 16px;
    border-radius: var(--control-border-radius);
    height: var(--control-height);
}
.button.with-border {
    justify-content: center;
    border: 1px solid var(--border-color);
    background-color: var(--control-bg-color);
}
.button.with-border:hover,
.button.with-border:focus {
    border-color: var(--primary-color);
}
.button.with-fill {
    justify-content: center;
    background: var(--primary-color);
    color: var(--text-inverse-color);
}
.button.with-fill:hover,
.button.with-fill:focus {
    background: var(--primary-hover-color);
}
.button:disabled {
    color: var(--disabled-color);
}
.button.with-fill:disabled {
    background: var(--disabled-color);
    border: none;
    color: var(--text-inverse-color);
}
.button.with-border:disabled {
    background: var(--disabled-color);
    border: 1px solid var(--disabled-color);
    color: var(--text-inverse-color);
}
.title {
    font-weight: 500;
}
.nowrap .title {
    white-space: nowrap;
}
.button:hover > .title {
    text-decoration: underline;
}
.button.with-border:hover > .title,
.button.with-fill:hover > .title {
    text-decoration: none;
}
