.loader {
    --anim-duration: 13s;
    --anim-delay: 1s;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.loader .point {
    fill: transparent;
    animation-duration: var(--anim-duration);
    animation-name: onOf;
    animation-iteration-count: infinite;
}
.loader .point1 {
    animation-delay: calc(var(--anim-delay) * 1);
}
.loader .point2 {
    animation-delay: calc(var(--anim-delay) * 2);
}
.loader .point3 {
    animation-delay: calc(var(--anim-delay) * 3);
}
.loader .point4 {
    animation-delay: calc(var(--anim-delay) * 4);
}
.loader .point5 {
    animation-delay: calc(var(--anim-delay) * 5);
}
.loader .point6 {
    animation-delay: calc(var(--anim-delay) * 6);
}
.loader .point7 {
    animation-delay: calc(var(--anim-delay) * 7);
}
.loader .point8 {
    animation-delay: calc(var(--anim-delay) * 8);
}
.loader .point9 {
    animation-delay: calc(var(--anim-delay) * 9);
}
.loader .point10 {
    animation-delay: calc(var(--anim-delay) * 10);
}
.loader .point11 {
    animation-delay: calc(var(--anim-delay) * 11);
}
.loader .point12 {
    animation-delay: calc(var(--anim-delay) * 12);
}
.loader .point13 {
    animation-delay: calc(var(--anim-delay) * 13);
}
@keyframes onOf {
    0% {
        fill: #515257;
    }
    7% {
        fill: #515257;
    }
    8% {
        fill: transparent;
    }
    100% {
        fill: transparent;
    }
}
.loader .profile {
    opacity: 0;
    height: 3px;
    width: 36px;
    box-sizing: border-box;
    border: 1px solid var(--black-color);
    position: absolute;
    left: 35px;
    animation-duration: 4s;
    animation-name: move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.loader .profile1 {
    animation-delay: 0s;
}
.loader .profile2 {
    animation-delay: 1s;
}
.loader .profile3 {
    animation-delay: 2s;
}
.loader .profile4 {
    animation-delay: 3s;
}
@keyframes move {
    0% {
        opacity: 0;
        bottom: 115px;
    }
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.5;
        bottom: 97px;
    }
    40% {
        opacity: 1;
        bottom: 80px;
        width: 19px;
    }
    60% {
        opacity: 1;
        left: 52px;
        bottom: 68px;
    }
    80% {
        opacity: 1;
        left: 45px;
        bottom: 49px;
        width: 19px;
    }
    90% {
        opacity: 0;
        left: 45px;
        bottom: 49px;
        width: 19px;
    }
    90.1% {
        opacity: 0;
        left: 35px;
        width: 36px;
        bottom: 115px;
    }
    100% {
        opacity: 0;
        left: 35px;
        width: 36px;
        bottom: 115px;
    }
}