.statusbar {
    min-height: var(--statusbar-height);
    width: 100%;
    background: var(--active-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--default-transition);
    top: -150px;
    position: fixed;
    box-sizing: border-box;
    padding: 0 var(--default-padding);
    z-index: var(--status-bar-zindex);
}
.statusbar.error {
    background: var(--red-color);
}
.statusbar > p {
    font-size: 18px;
    color: var(--text-inverse-color);
}
.statusbar > .warning-icon {
    height: 23px;
    width: 26px;
    background: url('./resources/warning.svg') center no-repeat;
    margin-right: 8px;
    background-size: contain;
    margin-top: -6px;
}
.statusbar.visible {
    top: 0;
}
.statusbar.mobile > p {
    font-size: 14px;
}
.statusbar.mobile > .warning-icon {
    height: 16px;
    width: 18px;
    margin-top: -2px;
}
:global(.partner-goods-report-page__body) .statusbar {
    display: none;
}
:global(.kp-page__body) .statusbar {
    display: none;
}
