.slider {
    position: relative;
    box-sizing: border-box;
}
.calculation-slide {
    background-image: url('./resources/slide2.jpg');
}
.kp {
    background-image: url('./resources/slide3.jpg');
}
.tracking {
    background-image: url('./resources/slide4.jpg');
}
.dots {
    position: absolute;
    bottom: 60px;
    right: 60px;
    display: flex;
    justify-content: space-between;
}
.dots > *:not(:last-child) {
    margin-right: 2px;
}
.mobile .dots {
    bottom: 25px;
    right: calc(50% - 40px);
}
.mobile .calculation-slide {
    background-image: url('./resources/slide2-mobile.jpg');
}
.mobile .kp {
    background-image: url('./resources/slide3-mobile.jpg');
}
.mobile .tracking {
    background-image: url('./resources/slide4-mobile.jpg');
}
