.handles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.handle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
    width: 130px;
    box-sizing: border-box;
}
.handle > img {
    height: 120px;
    width: 40px;
}
.handle > p {
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
}
.handles.mobile {
    justify-content: center;
}
