.button {
    width: 22px;
    height: 22px;
    opacity: 0.3;
    padding: 0;
}
.button.active {
    opacity: 1;
}
.button svg {
    transform: rotate(-90deg);
}
.track {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 2;
    stroke: var(--primary-color);
    display: none;
}
.active-track {
    display: none;
}
.button.active .track,
.button.active .active-track {
    display: block;
}
.button.active .active-track {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 2;
    stroke: white;
    stroke-linecap: round;
    stroke-dasharray: 63;
    stroke-dashoffset: 63;
    animation: loading 6s linear;
    animation-fill-mode: forwards;
}
@keyframes loading {
    0% {
        stroke-dashoffset: 63;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
