.modal {

}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.text {
    font-size: 14px;
    line-height: 24px;
}
.icon {
    height: 96px;
    width: 96px;
    background: url("./resources/icon.svg") center no-repeat;
    margin-right: 14px;
    background-size: contain;
}
.buttons {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons > * {
    width: 156px;
}
.buttons > *:first-child {
    margin-right: 60px;
}