.modal > div {
    padding: 0;
    border-radius: 5px;
    width: 900px;
    overflow: hidden;
}
.container {
    height: 550px;
    display: flex;
    flex-direction: column;
}
.header {
    background: var(--whitesmoke-color);
    border-radius: 5px 5px 0 0;
    border-bottom: var(--default-border);
    padding: 19px 23px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.body {
    padding: 20px 23px;
    overflow-y: auto;
}
.news {
    margin-bottom: 30px;
}
.date {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--placeholder-color);
    margin-bottom: 12px;
}
.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
}
.content {
    font-size: 14px;
    line-height: 24px;
    white-space: pre-line;
}
.image {
    max-width: 100%;
    margin-top: 30px;
}
