.month-selector {
    position: relative;
    padding-right: 22px;
    cursor: pointer;
    user-select: none;
}
.date {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 24px;
    color: var(--placeholder-color);
}
.month-selector .picker {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    visibility: hidden;
}
.picker-visible .picker {
    visibility: visible;
}
.arrow {
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: url('../../../resources/images/down_icon_big_gray.svg') center no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.picker-visible .arrow {
    transform: translateY(-50%) scale(-1);
}
.arrow:hover {
    opacity: 0.7;
}
