.link {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}
.link:hover,
.link:focus {
    text-decoration: underline;
}
