.order-tab-content {
    box-sizing: border-box;
    padding: var(--default-padding) calc(var(--side-bar-width) + 2 * var(--default-padding)) var(--default-padding) var(--default-padding);
    overflow: auto;
}
.order-tab-content.has-scrollbar {
    padding-right: calc(var(--side-bar-width) + var(--default-padding));
}
.body {
    width: 100%;
    max-width: 100%;
}
.body-header {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-column-gap: 60px;
    margin-bottom: 12px;
}
.body-header > p {
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.body-header > p > span {
    font-weight: 500;
}
.client-selector {
    display: flex;
    align-items: center;
}
.client-selector > p {
    font-size: 14px;
}
.client-select-label {
    margin-right: 10px;
}
.order-state {
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    border-radius: 12px;
    padding: 0 12px;
    color: var(--text-inverse-color);
    display: inline-block;
}
.card {
    margin-top: 12px;
}
.body > .order-discount-editor {
    margin-top: 20px;
}
.tablet .body {
    max-width: calc(100% - var(--default-padding));
}
.tablet .body-header {
    display: flex;
    flex-wrap: wrap;
}
.tablet .body-header > *:not(:last-child) {
    margin-right: 20px;
}
.body-header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.body-header-button {
    display: flex;
    align-items: center;
}
.add-construction {
    margin-right: 12px;
}
.remove-button {
    margin-right: 12px;
}
.replace-button {
    width: max-content;
}