.list {
    width: 615px;
    margin-bottom: 18px;
}
.title {
    margin-bottom: 20px;
}
.installation-list {
    margin-bottom: 50px;
}
.installation-item {
    display: flex;
    align-items: center;
}
.name {
    width: 435px;
    margin-right: 10px;
}
.price > input {
    width: 120px;
}
.mobile .list {
    width: 100%;
}
.mobile .name {
    width: 100%;
    margin-bottom: 12px;
}
.mobile .installation-item {
    flex-wrap: wrap;
}
.mobile .installation-list {
    margin-bottom: 30px;
}
