.layout {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--trout-color);
}
.layout.mobile {
    flex-direction: column;
}
.content {
    width: 33%;
    padding: 24px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.mobile .content {
    width: auto;
}
.slider {
    width: 67%;
    flex: 1;
}
.mobile .slider {
    width: auto;
}
.form {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 30px;
    align-items: center;
}
.mobile .footer {
    margin-bottom: 0;
}
.arrow-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid var(--manatee-color);
    background: url('./resources/arrow.svg') center no-repeat;
    padding: 0;
    margin-top: 22px;
}
.arrow-button:hover,
.arrow-button:focus {
    opacity: 0.7;
}
.logo {
    width: 160px;
    align-self: center;
}
.mobile .logo {
    width: 128px;
}
@media (max-width: 768px) and (orientation: landscape) {
    .slider {
        display: none;
    }
}
