.autocomplete-input {
    position: relative;
}
.autocomplete-input input {
    width: 100%;
}
.autocomplete-input input.error {
    border: 2px solid var(--error-color);
    padding: 0 9px;
}
.autocomplete-input input.success {
    border: 2px solid var(--success-color);
    padding: 0 9px;
}
.autocomplete-input.opened input {
    border: 1px solid var(--primary-color);
}
.items {
    position: absolute;
    min-width: 100%;
    top: calc(100% + 4px);
    left: 0;
    box-sizing: border-box;
    background: #fff;
    border-radius: var(--control-border-radius);
    border: 1px solid var(--primary-color);
    display: none;
    z-index: 1;
    max-height: 252px;
    overflow: auto;
    padding: 6px 0;
}
.item {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
}
.item > p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.multiline .item > p {
    white-space: normal;
}
.multiline .item {
    min-height: 32px;
    height: auto;
}
.item:hover {
    background: var(--hover-color);
}
.item.selected {
    background: var(--primary-color);
    color: var(--text-inverse-color);
}
.autocomplete-input.opened .items {
    display: block;
}
.autocomplete-input.opened.stretch-items .items {
    width: 100%;
}
.mobile .items {
    width: 100%;
}
span.error {
    color: var(--error-color);
    font-size: 12px;
    margin-top: 8px;
}
