.services {
    margin-top: 12px;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.total-cost {
    margin-left: 10px;
    margin-right: auto;
    font-weight: normal;
}
.grey {
    color: var(--normal-color);
}
.details {
    margin-top: 12px;
    font-size: 14px;
    line-height: 18px;
}
.addition {
    display: flex;
    justify-content: space-between;
}
.addition-cost {
    flex-shrink: 0;
    padding-left: 12px;
}