.dropdown-menu {
    position: relative;
    z-index: 1;
}
.dropdown-menu .button {
    padding: 0 9px;
    box-sizing: border-box;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    right: 0;
    top: calc(100% + 8px);
}
.mobile .menu {
    top: 100%;
    right: 10px;
}
.mobile .button {
    height: 32px;
    width: 44px;
    padding: 0;
}
.mobile .button [fill] {
    fill: #fff;
}
