.container {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    border-bottom: var(--default-border);
}
.tabs-wrapper {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.tabs {
    height: 100%;
    display: flex;
    transition: var(--default-transition);
}
.scrollable .tab {
    width: calc(100% - 40px);
}
.nav-button {
    background-color: var(--border-color);
    height: 100%;
    width: 20px;
    min-width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
.nav-button:active {
    background-color: var(--normal-color);
}
.scrollable .nav-button {
    display: block;
}
.prev-button {
    background-image: url('./resources/left_arrow.svg');
}
.next-button {
    background-image: url('./resources/right_arrow.svg');
}
.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.active {
    background: #fff;
}
.add-construction {
    height: 52px;
    width: 52px;
    flex-shrink: 0;
    justify-content: center;
}
