.body {
    padding: 10px 16px;
    position: relative;
    box-sizing: border-box;
}
.body > .body-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--card-color);
    opacity: 0.15;
    box-sizing: border-box;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.body.energy > .body-background {
    background-color: var(--focus-color);
    background-image: url('../../../../resources/images/energy-pattern.png');
}
