.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.title {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 55px 0 24px;
}
.input {
    margin-bottom: 24px;
}
.button {
    width: auto;
}
.back-link {
    align-self: center;
}
.mobile .input {
    margin-bottom: 12px;
}
.title.mobile {
    margin: 63px 0 45px;
}
