.order-page-footer {
    height: calc(var(--order-page-footer-height) + 1px);
    width: 100%;
    background: #fff;
    border-top: 1px solid #dadada;
    box-sizing: border-box;
    padding: 0 12px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: var(--order-page-footer-z-index);
}
.column {
    display: flex;
    align-items: center;
}
.column > p {
    font-size: 14px;
    white-space: nowrap;
}
.kp-button {
    margin-right: 10px;
    position: relative;
}
.construction-context-buttons {
    display: flex;
    align-items: center;
}
.construction-context-buttons > p {
    color: var(--placeholder-color);
    font-size: 14px;
}
.order-page-footer .additions {
    padding-right: 38px;
    position: relative;
}
.additions::after {
    content: '';
    width: 16px;
    height: 16px;
    background: url('./resoruces/blue_arrow.svg') center no-repeat;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.additions.active {
    border-color: var(--primary-color);
    background: var(--hover-color);
}
.additions.active::after {
    transform: translateY(-50%) rotate(-90deg);
}
.additions {
    margin-left: 12px;
}
.overlay {
    height: calc(var(--vh) * 100 - (var(--header-height)) - var(--order-page-footer-height));
}
