.selector {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.items {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 130px;
    box-sizing: border-box;
    padding: var(--default-padding);
    cursor: pointer;
    border-radius: var(--default-border-radius);
    position: relative;
}
.item > p {
    color: var(--normal-color);
    font-size: 12px;
    hyphens: auto;
}
.item > p:first-child {
    font-size: 14px;
    color: var(--black-color);
    margin-bottom: 4px;
    padding-right: 8px;
    display: flex;
}
.edit-filling {
    position: absolute;
    top: 0;
    right: 0;
}
.footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: var(--default-padding);
    flex-wrap: wrap;
}
.header-checkboxes {
    margin-top: 10px;
}
.header-checkboxes .checkbox:not(:first-child) {
    margin-left: 24px;
}
.header .with-title {
    margin-right: var(--default-padding);
}
.mobile .items {
    justify-content: center;
}
.mobile .footer {
    justify-content: center;
}
.mobile .header .with-title.filling-with-title {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
}
.mobile .header .with-title.thickness-with-title {
    flex: 1;
    margin-right: 0;
}
.mobile .header .with-title.camernost-with-title {
    flex: 1;
    margin-left: var(--default-padding);
    margin-right: 0;
}
.mobile .header-checkboxes {
    flex-direction: column;
}
.mobile .header-checkboxes .checkbox:not(:first-child) {
    margin: 8px 0 0;
}
.energy-icon {
    margin-right: 5px;
    flex-shrink: 0;
}
