.button {
    width: 16px;
    height: 16px;
    padding: 0;
}
.visible {
    background: url("./resources/public_icon.svg") center no-repeat;
}
.hidden {
    background: url("./resources/private_icon.svg") center no-repeat;
}
