.button {
    width: 100%;
}
.weight-square-item {
    display: flex;
    align-items: center;
    margin-top: auto;
}
.quantity-wrapper {
    display: flex;
    align-items: center;
}
.quantity-editor {
    margin: 0 6px;
}