.order-tab-sidebar {
    height: calc(
        var(--vh) * 100 - var(--header-height) - var(--tabs-panel-height) - var(--order-page-footer-height) - 2 * var(--default-padding) - 1px
    );
    position: fixed;
    top: calc(var(--header-height) + var(--tabs-panel-height) + var(--default-padding));
    right: var(--default-padding);
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item:last-of-type {
    border: none;
}
.item-title {
    font-weight: 500;
    font-size: 14px;
    color: var(--control-text-color);
}
.shipping {
    flex-direction: column;
    align-items: flex-start;
    color: var(--placeholder-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.permission-error {
    padding: 12px;
}
.passport-button {
    width: 100%;
}
.download-link {
    flex-direction: column;
}
.link-sertificates {
    padding: 10px 0;
}
