.content {
    background: var(--bg-color);
    padding: var(--default-vertical-page-padding) var(--default-horizontal-page-padding);
}
.card {
    margin-bottom: var(--default-padding);
}
.constrictions-card {
    padding: var(--default-padding);
}
.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.constructions {
    background: white;
    border-bottom: var(--default-border);
    margin-bottom: 12px;
}
.select-client-wrapper {
    width: 100%;
    margin-bottom: var(--default-padding);
}
.select-client {
    width: 100%;
    max-width: 100%;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--default-padding);
}
.tab {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.tab.active {
    background: var(--concrete-color);
}
.construction-title {
    margin-bottom: 8px;
}
.button {
    width: 100%;
    margin-top: var(--default-padding);
}
.date-price {
    margin-top: var(--default-padding);
}
.construction-quantity {
    top: 5px;
    right: 5px;
}
.state {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    height: 17px;
    border-radius: 10px;
    padding: 0 12px;
    color: var(--text-inverse-color);
    display: inline-block;
    margin-bottom: 7px;
}
.details {
    display: flex;
    justify-content: space-between;
}
.mounting-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-sertificates {
    padding-top: 10px;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
.item-title {
    font-weight: 500;
    font-size: 14px;
    color: var(--control-text-color);
}
.shipping {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}
