.quantity-editor {
    display: flex;
    align-items: center;
    height: 24px;
}
.quantity-editor.disabled {
    pointer-events: none;
}
.button {
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.button.minus {
    background-image: url("./resources/minus_icon.svg");
}
.button.plus {
    background-image: url("./resources/plus_icon.svg");
}
.quantity-editor input {
    height: 100%;
    width: 32px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: var(--control-border-radius);
    color: var(--black-color);
}
.quantity-editor input:focus {
    padding: 0;
}
