.page {
    font-family: 'Roboto', sans-serif;
    min-width: 1180px;
    overflow-x: hidden;
}
.page.mobile {
    min-width: unset;
    overflow-x: auto;
}
.heading {
    background: #35363c;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px 115px;
}
.mobile .heading {
    padding: 25px 21px 36px;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 47px;
    font-weight: normal;
    margin: 0 0 30px;
    width: 310px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.mobile .title {
    font-size: 28px;
    width: 220px;
    margin-bottom: 32px;
}
.title:before {
    content: '';
    position: absolute;
    left: 120px;
    top: 0;
    width: 45px;
    height: 56px;
}
.mobile .title:before {
    left: 85px;
    top: 8px;
    width: 30px;
    height: 38px;
}
.heading-title {
    margin-bottom: 45px;
}
.heading-title:before {
    background-image: url('./resources/energy-example.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    align-items: stretch;
}
.cards > * {
    flex-grow: 0;
    flex-shrink: 0;
}
.heading-text {
    max-width: 1024px;
    text-align: center;
}
.mobile .heading-text {
    font-size: 16px;
    line-height: 19px;
}
.video {
    padding: 68px 68px 68px 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f2;
}
.video video {
    max-width: 1148px;
    width: 100%;
}
.line {
    height: 1px;
    background-color: var(--primary-color);
    position: relative;
    border: none;
    margin: 0;
}
.mobile .line {
    display: none;
}
.line:after {
    content: '';
    width: 9px;
    height: 9px;
    background: var(--primary-color);
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 50%;
}
.line.glass {
    width: 73%;
    margin-left: 14px;
}
.line.profile {
    width: 62%;
    margin-left: 14px;
}
.line.frame {
    width: 64%;
    margin-left: 14px;
}
.line.frame.expert-c {
    width: 62%;
}
.line.frame.expert-c:after,
.line.profile-width.expert-c:after {
    right: -35px;
    top: -35px;
}
.line.profile-width {
    width: 71%;
    margin-left: 14px;
}
.line.profile-width.expert-c {
    width: 68%;
}
.line.frame.expert-c:before,
.line.profile-width.expert-c:before {
    content: '';
    width: 42px;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    right: -36px;
    top: -15px;
    transform: rotate(-45deg);
}
.products {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
}
.mobile .products {
    padding-bottom: 30px;
}
.products-title {
    margin: 65px 0 40px;
}
.mobile .products-title {
    margin: 25px 0;
}
.products-title:before {
    background-image: url('./resources/energy-products.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.product {
    margin: 0 auto;
    position: relative;
    min-height: 590px;
    margin-bottom: 105px;
    box-sizing: border-box;
    width: 1220px;
    padding: 0 50px 0 15px;
}
.mobile .product {
    padding: 16px 14px;
    width: auto;
    min-height: auto;
    margin-bottom: 50px;
}
.product-features {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.product-image {
    width: 590px;
    height: 590px;
    max-width: 590px;
    max-height: 590px;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 1;
}
.product-image img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.mobile .product-image {
    position: static;
    width: auto;
    height: auto;
}
.feature {
    position: relative;
    font-size: 32px;
    line-height: 30px;
    padding-left: 45px;
    margin-bottom: 12px;
}
.mobile .feature {
    font-size: 18px;
    line-height: 25px;
    padding-left: 20px;
    margin: 0;
}
.feature:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    width: 15px;
    height: 15px;
    transform: skew(0, -15deg);
}
.mobile .feature:before {
    top: 10px;
    left: 0;
    width: 10px;
    height: 10px;
}
.feature.silver-glass:before {
    background-color: #00a0e3;
}
.feature.profile:before {
    background-color: #e31e24;
}
.feature.multi-glass:before {
    background-color: #27ae96;
}
.feature.frame:before {
    background-color: #ffc700;
}
.feature-description {
    font-size: 18px;
    line-height: 30px;
    margin-top: 8px;
    padding-left: 14px;
    margin-bottom: 68px;
    max-width: 400px;
}
.mobile .feature-description {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 14px;
    max-width: 100%;
}
.feature-description.expert {
    margin-bottom: 42px;
}
.product-title {
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 48px;
}
.product-title.expert {
    margin-top: 5px;
}
.mobile .product-title {
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
