.container {
    position: relative;
    height: 36px;
    width: 61px;
}
.selector {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--silver-color);
    border-radius: 4px;
    color: var(--bright-gray-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    min-height: 36px;
    height: 36px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    transition: var(--default-transition);
    box-sizing: border-box;
}

.selector.mobile {
    background-color: var(--menu-bg-color);
    border-color: var(--placeholder-color);
    color: var(--placeholder-color);
}
.selector.opened {
    height: auto;
    overflow: auto;
}
.button {
    width: 100%;
    height: 36px;
    padding: 0 12px;
    text-align: left;
    flex-shrink: 0;
}
.arrow {
    height: 5px;
    width: 7px;
    position: absolute;
    right: 7px;
    top: 14px;
    cursor: pointer;
}
.arrow.opened {
    transform: rotate(180deg);
}
.mobile .button path {
    fill: var(--placeholder-color);
}
.mobile .arrow path {
    fill: var(--placeholder-color);
}
