.menu {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
}
.prev-button,
.next-button {
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.prev-button {
    background: url('../../../resources/images/prev_icon.svg') 0 50% no-repeat;
}
.next-button {
    background: url('../../../resources/images/next_icon.svg') 100% 50% no-repeat;
}
.item {
    color: var(--placeholder-color);
    height: 22px;
    min-width: 22px;
    border-radius: var(--default-border-radius);
    cursor: pointer;
    line-height: 22px;
    text-align: center;
    margin: 0 4px;
    border: 1px solid transparent;
}
.item:hover {
    color: var(--control-text-color);
}
.item.selected {
    color: var(--control-text-color);
    font-weight: 500;
}
