.menu {
    position: fixed;
    left: 0;
    top: var(--header-height);
    height: calc(var(--vh) * 100 - var(--header-height));
    min-width: var(--menu-width);
    max-width: var(--menu-width);
    background: var(--menu-bg-color);
    z-index: var(--menu-z-index);
    transition: var(--default-transition);
    --max-submenu-height: calc(var(--menu-width) * 10);
}
.menu:hover {
    max-width: 400px;
}
.menu-item {
    min-height: var(--menu-width);
    max-height: var(--menu-width);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    transition: var(--default-transition);
    transition-property: max-height;
}
.menu:hover .menu-item.active {
    max-height: var(--max-submenu-height);
}
.menu-item:hover:not(.active) {
    overflow: visible;
}
.menu-item:hover,
.menu-item.active {
    background: var(--shark-color);
}
.menu-item-header,
.menu-item-header:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-inverse-color);
}
.menu-item-header-title,
.menu-item-header-title:visited {
    text-decoration: none;
    color: var(--text-inverse-color);
    padding-right: 16px;
    white-space: nowrap;
}
.menu-item-header-icon {
    height: var(--menu-width);
    min-width: var(--menu-width);
    width: var(--menu-width);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item.menu-item-chat,
.menu-item.menu-item-chat:hover {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--order-page-footer-height);
    max-height: var(--order-page-footer-height);
    background: var(--blue-color);
}
.menu-item.menu-item-chat.hidden {
    display: none;
}
.menu-item-chat .menu-item-header-icon {
    background: url('../../common/menu/resources/chat_icon.svg') center no-repeat;
    height: var(--order-page-footer-height);
}
.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: var(--menu-width);
    box-sizing: border-box;
    padding-right: 16px;
    padding-left: 16px;
    background: var(--shark-color);
    border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
}
.menu-item.active > .submenu {
    position: relative;
    left: 0;
    display: block;
    padding-left: var(--menu-width);
}
@media (hover: hover) {
    .menu .menu-item:hover:not(.active) > .submenu {
        position: absolute;
        left: 100%;
        display: block;
    }
}
.submenu-item {
    color: var(--placeholder-color);
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
.submenu-item > p {
    white-space: nowrap;
}
.submenu-item.active,
.submenu-item:hover {
    color: #fff;
}
.menu-item-profile > .submenu > .submenu-item:last-child::before,
.submenu > .submenu-item:nth-child(1)::before {
    content: '';
    height: 1px;
    width: 100%;
    background: var(--menu-bg-color);
    position: absolute;
    top: 0;
    left: 0;
}
.menu-item-profile > .submenu {
    padding-bottom: 8px;
}
:global(.app):global(.hide-navigation) .menu {
    display: none;
}
