.modal-overlay {
    display: flex;
    justify-content: center;
}
.modal {
    position: fixed;
    top: 45px;
    right: 12px;
}
.modal.mobile {
    top: 40px;
    right: var(--default-horizontal-page-padding);
}
