.glass {
    cursor: pointer;
}
.glass:hover path {
    fill: var(--builder-hover-color);
}
.selected path {
    fill: var(--primary-color);
}
.selected:hover path {
    fill: var(--primary-hover-color);
}
