.page {
    background: #fff;
    min-height: calc(var(--vh) * 100 - var(--header-height));
}
.content {
    padding: var(--default-vertical-page-padding) var(--default-horizontal-page-padding);
}
.pagination-menu {
    margin-top: var(--default-padding);
    justify-content: center;
}