.table {
    overflow: visible;
}
.table td:nth-child(3) {
    min-width: 90px;
}
.buttons-holder {
    display: flex;
}
.buttons-holder > *:not(:last-child) {
    margin-right: 10px;
}
.center {
    display: flex;
    justify-content: center;
}
.table td.edit-card {
    width: 100%;
    padding: 0 0 16px;
}
.edit-card > * {
    padding: 0 16px;
}
.edit-card-header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}
.edit-card-mounting-date {
    height: 44px;
    display: flex;
    align-items: center;
}
.edit-card-mounting-date > p {
    font-weight: 500;
    font-size: 14px;
    margin-right: 12px;
}
.edit-card-fields-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 12px;
}
.edit-card-fields-grid input {
    width: 100%;
}