.page {
    padding: var(--default-vertical-page-padding) var(--default-horizontal-page-padding);
    background-color: white;
    min-height: calc(var(--vh) * 100 - var(--header-height));
    box-sizing: border-box;
}
.filter {
    margin-bottom: var(--default-vertical-page-padding);
}
.number {
    margin-bottom: var(--default-horizontal-page-padding);;
}
.menu {
    justify-content: center;
}
