.sidebar-item {
    padding-top: var(--default-padding);
    padding-bottom: var(--default-padding);
    color: var(--black-color);
}
.clickable {
    cursor: pointer;
}
.text {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.text > span {
    font-weight: 500;
}
.sidebar-item:last-of-type {
    border-bottom: none;
}
.sidebar-item:last-of-type::after {
    display: none;
}
