.selector {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.brand {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 12px;
}
.brand > p {
    font-size: 15px;
}
.brand.selected > p {
    font-weight: bold;
}
.profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    top: var(--action-bar-height);
    width: 100%;
    left: 0;
    background: #fff;
}
.brand.selected .profiles {
    display: flex;
}
.profile {
    padding: var(--default-padding);
    cursor: pointer;
    border-radius: var(--default-border-radius);
}
.profiles .profile p {
    color: var(--focus-color);
    font-size: 12px;
}
.name {
    display: flex;
}
.profile p > span {
    color: var(--black-color);
    font-weight: 500;
}
.profile p:first-child {
    color: var(--black-color);
    font-size: 14px;
    margin-bottom: 8px;
}
.energy-icon {
    margin-right: 5px;
    flex-shrink: 0;
}
