.tooltip {
    --tooltip-bg: white;
    background: var(--tooltip-bg);
    border-radius: 4px;
    padding: 16px;
    position: relative;
    box-sizing: border-box;
    max-width: 396px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
}
.close-button {
    position: absolute;
    top: 12px;
    right: 12px;
}
.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 14px;
}
.description {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 14px;
    color: var(--control-text-color);
}
.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}
.arrow--bottom {
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent var(--tooltip-bg);
    top: -8px;
    transform: translateX(-7px);
}
.arrow--top {
    border-width: 8px 7px 0 7px;
    border-color: var(--tooltip-bg) transparent transparent;
    bottom: -8px;
    transform: translateX(-7px);
}
.arrow--right {
    border-width: 7px 8px 7px 0;
    border-color: transparent var(--tooltip-bg) transparent transparent;
    top: 16px;
    left: -8px;
    transform: translateY(-7px);
}
.arrow--left {
    border-width: 7px 0 7px 8px;
    border-color: transparent transparent transparent var(--tooltip-bg);
    top: 16px;
    right: -8px;
    transform: translateY(-7px);
}
.footer {
    display: flex;
    margin-top: auto;
    align-items: flex-end;
}
.steps {
    margin-right: 20px;
    display: flex;
}
.step-button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--mercury-color);
    padding: 0;
    margin-right: 10px;
}
.step-button.active {
    background-color: var(--primary-color);
}
.step-button:hover,
.step-button:focus {
    background-color: var(--hover-color);
}
.step-button.active:hover,
.step-button.active:focus {
    background-color: var(--primary-hover-color);
}
.next-button {
    width: 116px;
    margin-left: auto;
}
.finish-button {
    width: auto;
    margin-left: auto;
}
