.title {
    display: flex;
}
.title > p {
    margin-left: 10px;
}
.icon {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
}
.big .icon {
    height: 24px;
    width: 24px;
    border-radius: var(--control-border-radius);
}
.add-button:disabled .icon {
    border-color: var(--disabled-color);
}
.add-button:disabled .icon path {
    fill: var(--disabled-color);
    stroke: var(--disabled-color);
}
.primary .icon {
    border: 1px solid var(--primary-color);
}
.primary .title:hover .icon {
    background: var(--primary-color);
}
.primary .title:hover path {
    fill: var(--text-inverse-color);
    stroke: var(--text-inverse-color);
}
.secondary .icon {
    border: 1px solid var(--silver-color);
}
.secondary .title path {
    fill: var(--silver-color);
    stroke: var(--silver-color);
}
.secondary .title:hover .icon {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
}
.secondary .title:hover path {
    fill: var(--text-inverse-color);
    stroke: var(--text-inverse-color);
}
