.header {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.shipping-type-selector {
    width: 300px;
}
.body {
    display: flex;
    margin-top: 20px;
}
.address-column {
    width: 100%;
    margin-right: 40px;
}
.address-column-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--black-color);
}
.address-column .with-title {
    margin-bottom: 10px;
}
.address-column .with-title input {
    width: 100%;
}
.map-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    min-height: 272px;
    position: relative;
}
.with-map {
    padding-bottom: 100px;
}
.ymaps {
    flex: 1;
}
.delivery-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 16px;
}
.delivery-cost-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}
.delivery-cost-price span {
    display: block;
    font-weight: 500;
    color: #0075FF;
}
.booking-button {
    margin-top: auto;
    width: 100%;
}
.floor {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.text-product-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9px;
}
.text-weight-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 12px;
}
.text-with-hint {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
}
.text-with-hint-product {
    font-size: 12px;
    line-height: 16px;
}
.text-with-hint-floor {
    font-size: 12px;
    line-height: 16px;
    padding-right: 20px;
}
.quanty-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.text-rise-floor {
    font-size: 11px;
    line-height: 14px;
}
.producing-modal-constructions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-bottom: 12px;
}
.producing-modal-construction {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    position: relative;
}
.producing-modal-sum {
    font-size: 16px;
    font-weight: 500;
}
.producing-modal-warnings {
    margin-top: 30px;
}
.producing-modal-warnings-header {
    display: flex;
    position: relative;
}
.producing-modal-warnings-header::after {
    content: '';
    position: absolute;
    background: url('../../../../resources/images/down_icon_big.svg') center no-repeat;
    background-size: contain;
    right: 0;
    top: 50%;
    height: 16px;
    width: 16px;
    transform: translateY(-50%);
}
.producing-modal-warnings-header-icon {
    height: 28px;
    width: 28px;
    min-width: 28px;
    background: #f2c94c url('../../../../resources/images/warn_icon_white.svg') center no-repeat;
    margin-right: 14px;
}
.producing-modal-warnings-header-title {
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
}
.producing-modal-warnings-body {
    margin-top: 30px;
    max-height: 250px;
    overflow: auto;
}
.comment {
    width: 100%;
    margin-bottom: 10px;
}
:global(.expanded) > :global(.expandable__header) > .producing-modal-warnings-header::after {
    transform: translateY(-50%) scaleY(-1);
}
.mobile .body {
    flex-direction: column;
}
.mobile .map-column {
    min-height: auto;
    padding-bottom: 0;
}
.mobile .booking-button {
    position: relative;
    margin-top: 40px;
}
.mobile .address-column {
    width: 100%;
    margin-right: 0;
}
.mobile .delivery-cost {
    position: relative;
    bottom: auto;
    width: 100%;
    margin-top: 24px;
    height: auto;
}
.mobile .ymaps {
    display: none;
}
.mobile .shipping-type-selector {
    width: 100%;
}
.warn {
    display: flex;
    align-items: center;
}
.warn > p {
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
}
.free-delivery {
    margin-top: 8px;
}
.mobile .free-delivery {
    display: block;
}
.bonus {
    margin-top: 40px;
    margin-bottom: 20px;
}
.bonus-header {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--black-color);
    margin-bottom: 10px;
}
.available-bonus {
    margin-left: auto;
    color: var(--manatee-color);
    display: flex;
    align-items: center;
}
.bonus-hint {
    transform: translateY(-1px);
    margin-left: 4px;
}
.bonus-value {
    color: var(--green-color);
    margin-left: 4px;
}
.bonus-input {
    width: 80px;
    margin-right: 6px;
}
.bonus-input-wrapper {
    display: flex;
    align-items: center;
}
.bonus-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
}
.bonus-form {
    display: flex;
    color: var(--manatee-color);
}
.bonus-description {
    margin-left: auto;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    width: 187px;
    align-self: flex-end;
}
.bonus-description.error {
    color: var(--error-color);
    align-self: center;
    padding-top: 20px;
}
.container {
    margin-right: 40px;
    width: 300px;
    min-height: 272px;
    display: flex;
    flex-direction: column;
}
.mobile .container {
    margin: 0;
    padding: 0;
    width: auto;
}
