.selector {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}
.item {
    box-sizing: border-box;
    border-radius: var(--default-padding);
    padding: var(--default-padding);
    min-height: var(--action-bar-height);
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}
.selector.mobile {
    justify-content: center;
}
