.item:last-of-type {
    border: none;
}
.filter {
    display: flex;
    flex-direction: column;
}
.status {
    margin-bottom: 10px;
    border-radius: 16px;
    overflow: hidden;
    padding: 0;
    border: 1px solid transparent;
}
.all-status {
    border-color: var(--border-color);
    font-size: 12px;
    line-height: 16px;
    height: 24px;
    color: var(--control-text-color);
}
.status.active {
    border-color: var(--primary-color);
}
