.header {
    padding-bottom: 6px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
    margin-top: 16px;
}
.type {
    margin-bottom: 16px;
}
.mobile .header {
    margin-top: var(--default-padding);
    margin-bottom: var(--default-padding);
}
.mobile .type {
    margin-bottom: var(--default-padding);
}
