.order-errors {
    box-sizing: border-box;
    padding-right: 10px;
}
.construction-errors:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}