.input {
    font-size: var(--control-font-size);
    box-sizing: border-box;
    height: var(--control-height);
    border-radius: var(--control-border-radius);
    padding: 0 10px;
    background: var(--control-bg-color);
    border: 1px solid var(--border-color);
    color: var(--control-text-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input:hover {
    border-color: var(--border-hover-color);
}
.input:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}
.input::placeholder {
    color: var(--placeholder-color);
}
.input:disabled::placeholder {
    color: var(--disabled-color);
}
.input.annoyed:invalid,
.input:focus:invalid,
.input.error {
    border: 2px solid var(--error-color);
    padding: 0 9px;
}
.input:disabled {
    pointer-events: none;
    background-color: transparent;
    color: var(--disabled-color);
    -webkit-text-fill-color: var(--disabled-color);
    opacity: 1;
}
.input[type='number'] {
    -moz-appearance: textfield !important;
    max-width: 80vw;
}
.input[type='number']::-webkit-outer-spin-button,
.input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
.input--fake {
    white-space: nowrap !important;
    position: fixed !important;
    left: -1000px !important;
    top: -1000px !important;
    pointer-events: none !important;
    width: min-content !important;
}
