.date-picker {
    width: 301px;
    padding: 0 15px;
}
.header {
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}
.nav-button {
    height: 30px;
    width: 30px;
    background: url('./resources/next_icon.svg') 100% 50% no-repeat;
    margin-right: 5px;
    cursor: pointer;
}
.nav-button.prev {
    background: url('./resources/prev_icon.svg') 0 50% no-repeat;
    margin-left: 5px;
    margin-right: 0;
}
.title {
    font-size: 14px;
    font-weight: 500;
}
.title:first-letter {
    text-transform: capitalize;
}
.days {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 10px;
}
.day {
    height: 33px;
    width: 33px;
    font-weight: 500;
    border-radius: var(--default-border-radius);
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 5px 0;
    color: var(--control-text-color);
}
.day.available:hover,
.day.normal:hover {
    cursor: pointer;
    border: 2px solid var(--success-color);
    box-sizing: border-box;
}
.day.unavailable {
    border: none;
    color: var(--error-color);
    cursor: default;
}
.day.available {
    color: var(--success-color);
}
.day.available.current,
.day.current {
    color: #fff;
    background: var(--placeholder-color);
}
.day.selected {
    color: #fff;
    background: var(--success-color);
}
.day.weekday,
.day.empty {
    background: none;
    cursor: default;
    color: var(--placeholder-color);
}
.date-picker.mobile {
    width: 260px;
    padding: 0 12px;
}
.mobile .header {
    padding: 10px 0;
}
.mobile .day {
    margin: 12px 2px 0;
}
