.segmented-control {
    display: flex;
    height: var(--control-height);
    border-radius: var(--control-border-radius);
    border: 1px solid var(--primary-color);
}
.item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.item.selected {
    background: var(--primary-color);
    color: var(--text-inverse-color);
}
