.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}
.link {
    text-align: center;
}
.link:not(:last-of-type) {
    margin-bottom: 10px;
}
.mobile .link:not(:last-of-type) {
    margin-bottom: 4px;
}
.offer.mobile {
    font-size: 10px;
    line-height: 14px;
}
