.page {
    color: var(--black-color);
    box-sizing: border-box;
    padding: var(--default-vertical-page-padding) var(--default-horizontal-page-padding);
}
.title {
    margin-bottom: 12px;
}
.cards {
    margin-top: 40px;
}
.cards > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.cards > div > img {
    margin-right: 14px;
}
.pay-button {
    margin-top: 40px;
}
.cost-group .cost-input > input {
    width: 110px;
}
.permission-error {
    margin-bottom: 20px;
}
.mobile .pay-button {
    margin-top: 24px;
    height: 40px;
    width: 100%;
}
.history-title {
    margin-top: 50px;
}
