.page {
    height: calc(var(--vh) * 100 - var(--header-height));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.container {
    padding: var(--default-vertical-page-padding) var(--default-horizontal-page-padding);
    box-sizing: border-box;
    overflow-y: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.dealer {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.discount {
    color: var(--placeholder-color)
}
.user-avatar {
    width: 64px;
    height: 64px;
    font-size: 28px;
    border-radius: 50%;
    background: #9AC443;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}
