.context-menu {
    background: #fff;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--primary-color);
    font-size: 14px;
    line-height: 30px;
    color: var(--black-color);
    position: absolute;
    padding: 6px 0;
}
.item-wrap {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 32px;
}
.item-wrap > p {
    white-space: nowrap;
}
.item-wrap:hover {
    background: var(--hover-color);
    cursor: pointer;
}
.item-wrap.selected {
    background: var(--primary-color);
    color: var(--text-inverse-color);
}
.item {
    white-space: nowrap;
}
.context-menu.mobile {
    line-height: 28px;
    padding: 6px 0;
}
.item-wrap {
    height: 28px;
}
