.balance {
    color: var(--bright-gray-color);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.balance.negative {
    color: var(--error-color);
}
.balance > span {
    font-weight: normal;
}
