.page {
    box-sizing: border-box;
    padding: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 60px;
    display: flex;
}
.short-info {
    display: flex;
    align-items: center;
    width: 300px;
}
.short-info > p {
    font-size: 24px;
}
.detail-info {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 18px;
    color: var(--focus-color);
    margin-bottom: 30px;
    position: relative;
    padding-left: 40px;
}
.title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 29px;
    width: 29px;
    background: url("./resources/mail_icon.svg") center no-repeat;
}
.texts {
    display: flex;
    align-items: center;
}
.texts > div {
    margin-right: 40px;
}
.texts p {
    font-size: 18px;
    color: var(--focus-color);
    line-height: 21px;
}
.icon {
    height: 112px;
    width: 112px;
    background: url("./resources/error_icon.svg") center no-repeat;
    margin-right: 20px;
}
.success .icon {
    background: url("./resources/success_icon.svg") center no-repeat;
}
.orders-link {
    color: var(--focus-color);
    margin-top: 27px;
    font-size: 18px;
}
.orders-link > a,
.orders-link > a:visited {
    color: var(--blue-color);
}
