.preview {
    position: relative;
    min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview.auto-width {
    min-width: auto;
}
.quantity {
    position: absolute;
    top: 4px;
    right: 4px;
    min-width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    line-height: 14px;
    font-weight: 500;
    color: white;
    background: var(--normal-color);
    box-sizing: border-box;
    padding: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview.auto-width .quantity {
    right: -8px;
}
