.form {
    display: flex;
    flex-direction: column;
    padding: 36px;
}
.form fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.form legend {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
.input {
    width: 100%;
    margin-bottom: 12px;
}
.type {
    margin-bottom: 12px;
}
.add-button {
    width: 100%;
}
.title {
    display: flex;
    align-items: center;
}
.hint {
    margin-left: 8px;
    transform: translateY(1px);
}
.mobile.form {
    padding: 24px;
}
