.card {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}
.body > *:not(:last-child) {
    margin-right: 12px;
}
.control-wrapper {
    height: var(--control-height);
    display: flex;
    align-items: center;
}
.total-cost {
    text-align: center;
    width: 100%;
    color: var(--text-color);
    white-space: nowrap;
}
.body .remove-button-wrapper {
    margin-left: auto;
    padding-top: 20px;
}
.unit-price-wrapper {
    flex-direction: column;
    justify-content: center;
    color: var(--placeholder-color);
    line-height: 10px;
}
.mobile .body {
    flex-wrap: wrap;
    margin-top: 0;
}
.mobile .body > *:not(:first-of-type) {
    margin-top: 12px;
}
.mobile .good-title {
    width: 100%;
    margin-right: 0;
}
