.container {
}
.container > *:not(:last-child) {
    margin-bottom: 8px;
}

.lamination-icon {
    height: 20px;
    width: 20px;
    min-width: 20px;
    display: inline-block;
    margin-left: 8px;
    box-sizing: border-box;
}
.white-icon {
    background-image: url('../../../desktop/new-builder-page-sidebar/lamination-sidebar-item/resources/no-color-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #f2f2f2;
}
.lamination-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}
