.textarea {
    font-size: var(--control-font-size);
    box-sizing: border-box;
    min-height: var(--control-height);
    border-radius: var(--control-border-radius);
    padding: 10px;
    background: var(--control-bg-color);
    border: 1px solid var(--border-color);
    color: var(--control-text-color);
    resize: none;
}
.textarea:hover {
    border-color: var(--border-hover-color);
}
.textarea:focus {
    border-color: var(--primary-color);
}
.textarea::placeholder {
    color: var(--placeholder-color);
}
.textarea:disabled::placeholder {
    color: var(--disabled-color);
}
.textarea.annoyed:invalid,
.textarea:focus:invalid {
    border: 2px solid var(--error-color);
    padding: 9px;
}
.textarea:disabled {
    pointer-events: none;
    background-color: transparent;
    color: var(--disabled-color);
    -webkit-text-fill-color: var(--disabled-color);
    opacity: 1;
}
