.page {
    height: calc(var(--vh) * 100 - var(--header-height));
    box-sizing: border-box;
    overflow: auto;
    padding: 12px;
    display: flex;
}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.sidebar {
    margin-left: var(--default-padding);
    width: var(--side-bar-width);
    min-width: var(--side-bar-width);
}
.info {
    display: flex;
    font-size: 14px;
    line-height: 24px;
    margin-left: 14px;
    margin-bottom: 12px;
}
.form {
    width: 280px;
    margin-right: 160px;
}
.title {
    margin-bottom: 20px;
    margin-left: 14px;
}
.orders {
    margin-bottom: 20px;
}
