.header {
    background: var(--card-color);
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 16px;
    font-size: 12px;
    color: var(--text-inverse-color);
    position: relative;
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
