.selector {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.icon {
    padding: 10px;
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    border-radius: var(--default-border-radius);
}