.orders-page {
    height: calc(var(--vh) * 100 - var(--header-height));
    padding: 12px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    overflow-x: auto;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.table-container {
    flex: 1;
}
.header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 36px;
    margin-bottom: 12px;
}
.title {
    margin-right: auto;
    padding-left: 14px;
}
.header > *:not(:first-child) {
    margin-left: 10px;
    align-self: flex-start;
}
