.kp-page__body {
    background: #fff;
    height: auto;
}
.kp-page__body .app {
    height: auto;
}
.kp-page {
    color: #000;
    line-height: 1.15em;
}
.kp-header {
    height: 11pt;
    margin-bottom: 13pt;
}
.kp-header__row {
    height: 11pt;
    display: flex;
    justify-content: space-between;
}
.kp-header__title {
    font-size: 11pt;
    height: 11pt;
}
.kp-header__title > span {
    font-weight: bold;
}
.kp-header__agent-name {
    font-size: 11pt;
    height: 11pt;
    margin-left: 32pt;
}
.kp-header__agent-contact {
    font-size: 8pt;
    line-height: 11pt;
    padding-top: 1pt;
}
.kp-info-text-wrapper {
    background: var(--report-bg-color);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 18pt;
    padding: 0 6pt;
    margin-bottom: 2pt;
}
.kp-info-text {
    font-size: 8pt;
    line-height: 8pt;
}
.kp-info-text > span {
    font-weight: bold;
}
.kp-info-text-wrapper > .kp-info-text:not(:first-child) {
    margin-left: 16pt;
}
.kp-order-info__sum {
    display: flex;
}
.kp-order-info__sum > div:first-child {
    flex: 1;
}
.kp-order-info__sum > div:last-child:not(:first-child) {
    margin-left: 2pt;
}
.kp-construction-drawer {
    height: 350pt;
    width: 100%;
    position: relative;
}
.kp-order-total-info p > span {
    font-weight: bold;
}
.kp-info-text-wrapper.total {
    background: #C5C6C6;
    justify-content: space-between;
    margin-top: 20pt;
}
.kp-order-total-info__text {
    font-size: 7pt;
    text-align: justify;
}
.kp-order-total-info__text > p {
    margin-bottom: 7.64pt;
    line-height: 8pt;
}
.kp-order-total-info__text > p > span {
    font-weight: bold;
}
.kp-signatures {
    margin-top: 20pt;
}
.kp-signature > div {
    padding-bottom: 4.9pt;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1.43pt solid var(--report-border-color);
    box-sizing: border-box;
}
.kp-signature__title {
    flex: 1;
    font-size: 7pt;
}
.kp-signature__hint {
    color: #898989;
    font-size: 7pt;
}
.test {
    background: red;
    opacity: 0.3;
    position: absolute;
    left: 50px;
    top: 28.5pt;
    width: 145px;
    height: 143pt;
    /*display: none;*/
}
.kp-page__goods-table {
    width: 100%;
    border: none;
    border-spacing: 0 2pt;
    border-collapse: separate;
}
.kp-page__goods-table tr {
    padding: 0 6px;
}
.kp-page__goods-table tr > td {
    background: var(--report-bg-color);
    height: 18pt;
}
.kp-page__goods-table tr > td:first-child {
    padding-left: 6px;
}
.kp-page__goods-table tr > td:last-child {
    padding-right: 6px;
    text-align: end;
}
.kp-page .dimension-line-input {
    background: #fff;
}
