.stage {
    margin: 0 auto;
    width: 503px;
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 18px;
}
.step {
    display: flex;
}
.step-1 {
    margin-top: 45px;
}
.step-2 {
    margin-top: 36px;
}
.big-number {
    margin-right: 14px;
    height: 95px;
    width: 48px;
    background: url('./resources/1.svg') 10px 10px no-repeat;
}
.step-2 .big-number {
    background: url('./resources/2.svg') 10px 10px no-repeat;
}
.step-text {
    margin-top: 16px;
    font-size: 14px;
}
.step-text > span {
    font-weight: 700;
}
.buttons {
    margin-top: 52px;
    display: flex;
    padding-left: 62px;
}
.stage .buttons button {
    min-height: 40px;
    height: auto;
}
.buttons .skip-button {
    padding: 0 16px;
    color: var(--focus-color);
}
.buttons .skip-button:hover {
    color: var(--black-color);
}
.stage.mobile {
    width: auto;
}
.stage.mobile .step-1,
.stage.mobile .step-2,
.stage.mobile .buttons {
    margin-top: calc(var(--default-padding) * 2);
}
.mobile .title {
    font-size: 16px;
}
.mobile .buttons {
    padding: 0;
    flex-direction: column;
    align-items: center;
}
