.description {
    color: var(--placeholder-color);
    width: 284px;
    margin-bottom: 23px;
    text-align: center;
}
.icon {
    width: 20px;
    height: 26px;
    animation-delay: 1s;
    animation: energy 2s forwards;
    margin-bottom: 16px;
    margin-top: 16px;
    background-image: url('./resources/energy-icon-active.svg');
}

@keyframes energy {
    0% {
        background-image: url('./resources/energy-icon-active.svg');
    }
    100% {
        background-image: url('./resources/energy-icon-grey.svg');
    }
}
