.order-construction-params {
    display: flex;
    flex-direction: column;
    min-height: 436px;
}
.recalculate-button {
    margin-top: auto;
    align-self: flex-end;
}
.widgets {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--action-bar-bg-color);
    width: 100%;
    box-sizing: border-box;
    padding: 0 82px;
}
.widget {
    padding: 0 20px;
    height: var(--action-bar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--control-text-color);
    position: relative;
}
.widget:hover,
.widget.active {
    background: white;
    position: static;
    z-index: 1;
}
.widget:not(:first-child):before {
    content: '';
    position: absolute;
    height: 40px;
    width: 1px;
    background: var(--normal-color);
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.selector {
    padding-top: 12px;
}
