.sheet {
    position: fixed;
    left: calc(var(--menu-width) + var(--default-padding));
    right: calc(var(--side-bar-width) + 2 * var(--default-padding));
    bottom: calc(var(--order-page-footer-height) + var(--default-padding));
    max-height: 505px;
    transform: translateY(calc(101% + var(--order-page-footer-height) + var(--default-padding)));
    display: flex;
    flex-direction: column;
    transition: var(--default-transition);
    z-index: var(--bottom-sheet-z-index);
    overflow: hidden;
}
.sheet.visible {
    transform: translateY(0);
}
.overlay {
}
.sheet.mobile {
    left: var(--default-horizontal-page-padding);
    right: var(--default-horizontal-page-padding);
    bottom: var(--default-vertical-page-padding);
    max-height: calc(var(--vh) * 100 - 2 * var(--default-vertical-page-padding) - var(--header-height));
    transform: translateY(calc(101% + var(--order-page-footer-height) + var(--default-padding)));
}
.sheet.mobile.visible {
    transform: translateY(0);
}
