.name {
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    min-height: 32px;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.name.multiline {
    overflow: initial;
    text-overflow: initial;
    padding-right: 30px;
    line-height: 20px;
    white-space: initial;
    padding-top: 6px;
    padding-bottom: 6px;
}
.select-item.selectable > .name .query {
    font-weight: bold;
}
.select-item.selectable > .name:hover {
    background: var(--hover-color);
}
.select-item.selectable.selected > .name {
    background: var(--primary-color);
    color: var(--text-inverse-color);
}
.select-item > .items {
    max-height: 0;
    overflow: hidden;
}
.select-item.expanded > .items {
    max-height: 9999px;
}
.checkbox {
    margin-right: 8px;
}
