.select {
    position: relative;
    cursor: pointer;
    background: var(--control-bg-color);
    border-radius: var(--control-border-radius);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    min-width: 110px;
    max-width: 100%;
    height: var(--control-height);
    font-size: var(--control-font-size);
    color: var(--control-text-color);
    z-index: 1;
    outline: none;
}
.select.disabled {
    pointer-events: none;
    color: var(--disabled-color);
}
.select.openable:hover {
    border-color: var(--border-hover-color);
}
.select.openable:focus {
    border-color: var(--primary-color);
    outline: none;
}
.select.opened {
    border: 1px solid var(--primary-color);
    z-index: 2;
}
.select.invalid {
    border: 2px solid var(--error-color);
}
.select.valid {
    border: 2px solid var(--success-color);
}
.select.add .title {
    color: var(--primary-color);
    font-weight: 500;
    padding-left: 36px;
}
.select.add .title::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    transform: translateY(-50%);
    background: url('../../../resources/images/plus_icon.svg') center no-repeat;
}
.header {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-right: 30px;
}
.title {
    line-height: calc(var(--control-height) - 2px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
}
.placeholder {
    color: var(--placeholder-color);
    font-weight: 400;
}
.select.disabled .placeholder {
    color: var(--disabled-color);
}
.select.openable .icon {
    height: 24px;
    width: 24px;
    min-width: 24px;
    background: url('../../../resources/images/down_icon.svg') center no-repeat;
    background-size: contain;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}
.select.opened .icon {
    transform: translateY(-50%) scaleY(-1);
}
.wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--vh) * 100);
    z-index: var(--select-z-index);
}
.body {
    position: absolute;
    box-sizing: border-box;
    width: min-content;
    background: var(--control-bg-color);
    border-radius: var(--control-border-radius);
    border: 1px solid var(--primary-color);
    padding: 6px 0;
    overflow: auto;
    font-size: var(--control-font-size);
    display: flex;
    flex-direction: column;
}
.hidden {
    height: 1px;
    overflow-y: auto;
    position: static !important;
    margin-top: -1px !important;
    width: 100% !important;
    opacity: 0;
    pointer-events: none;
}
.filter {
    padding: 4px 10px;
    box-sizing: border-box;
}
.filter > * {
    width: 100%;
}
.filter > input {
    border-color: var(--border-color);
}
.items {
    overflow: auto;
    flex: 1;
}
.items > div {
    line-height: 0;
}
