.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border-radius: var(--default-border-radius);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background: var(--white-color);
    width: 336px;
    position: relative;
}
.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
}
.mobile .container {
    max-height: calc(var(--vh) * 100 - var(--header-height) - 2 * var(--default-padding));
    overflow: auto;
    width: calc(100% - 2 * var(--default-horizontal-page-padding));
}
