.new-sidebar-item {
    box-sizing: border-box;
    padding: 10px var(--default-padding);
    position: relative;
}
.long {
    border-bottom: 1px solid var(--border-color);
}
.short::after {
    content: '';
    background: var(--border-color);
    position: absolute;
    height: 1px;
    width: calc(100% - 2 * var(--default-padding));
    left: var(--default-padding);
    bottom: 0;
}
