.events {
    padding: var(--default-padding) calc(var(--side-bar-width) + 2 * var(--default-padding)) var(--default-padding) var(--default-padding);
    height: calc(var(--vh) * 100 - var(--header-height));
    box-sizing: border-box;
    padding-bottom: var(--order-page-footer-height);
    overflow: auto;
}
.events.has-scrollbar {
    padding-right: calc(var(--side-bar-width) + var(--default-padding));
}
.header {
    min-height: 48px;
}
.header-content {
    display: flex;
    align-items: center;
}
.title {
    padding-left: 14px;
}
.view-mode-button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid var(--border-color);
    border-radius: var(--control-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.view-mode-button.active {
    border-color: var(--primary-color);
}
.view-mode-button.active path[fill] {
    fill: var(--primary-color);
}
.view-mode-button.active path[stroke] {
    stroke: var(--primary-color);
}
.sidebar {
    height: calc(var(--vh) * 100 - var(--header-height) - var(--order-page-footer-height) - var(--default-padding) - 1px);
    position: fixed;
    top: calc(var(--header-height) + var(--default-padding));
    right: var(--default-padding);
}
.month-selector {
    margin-left: 30px;
}
