.construction-errors-tooltip {
    display: flex;
}
.construction-errors-tooltip > *:first-child {
    margin-right: 4px;
}
.construction-errors-tooltip > *:last-child {
    margin-right: 0;
}
.construction-errors-tooltip__items > p:not(:last-child) {
    border-bottom: 1px solid var(--normal-color);
    padding: 0 8px 8px;
    margin-bottom: 8px;
}