.wrapper {
    position: relative;
}
.button {
    border-radius: var(--control-border-radius);
    border: var(--default-border);
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}
.button:hover .icon path {
    fill: var(--white-color);
}
.button.active {
    border-color: var(--primary-color);
}
.button.active .icon path {
    fill: var(--primary-color);
}
.button.active:hover {
    background-color: transparent;
}
.date-picker {
    position: absolute;
    top: 30px;
    z-index: 1;
    display: none;
    background: var(--control-bg-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--control-border-radius);
}
.date-picker.left {
    left: 0;
}
.date-picker.right {
    right: 0;
}
.opened {
    display: block;
}
