.booking-page {
    padding: var(--default-vertical-page-padding) var(--default-horizontal-page-padding);
    box-sizing: border-box;
    overflow: auto;
    height: calc(var(--vh) * 100 - var(--header-height));
}
.order-number {
    margin-bottom: 20px;
}
.order-number > a,
.order-number > a:visited {
    font-weight: 500;
    color: var(--control-text-color);
    text-decoration-style: dotted;
}
.booking-page.mobile {
    padding: var(--default-padding);
    height: auto;
}
