.column {
    margin-bottom: 20pt;
}
.title {
    font-size: 9pt;
    line-height: 9pt;
    font-weight: bold;
    margin-bottom: 20pt;
}
.info {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2pt;
    grid-row-gap: 2pt;
}
:global(.a4) > .column .info {
    grid-template-columns: 1fr 1fr;
}
.text-wrapper {
    background: var(--report-bg-color);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 18pt;
    padding: 0 6pt;
    margin-bottom: 2pt;
}
.text-wrapper > .text:not(:first-child) {
    margin-left: 16pt;
}
.info .text-wrapper {
    margin-bottom: 0;
}
.info .text-wrapper.price-group {
    justify-content: space-between;
    margin-top: 38pt;
}
:global(.a4) > .column .info .text-wrapper.price-group {
    margin-top: 0;
    grid-column: 1 / 3;
}
:global(.a4) > .column .title {
    margin-bottom: 12pt;
}
.text {
    font-size: 8pt;
    line-height: 8pt;
}
.text > span {
    font-weight: bold;
}
.construction-info {
    display: flex;
    flex-wrap: wrap;
}
.construction-info > div {
    flex: 1;
}
.construction-info > div:first-child {
    font-size: 9pt;
}
