.indicator {
    display: flex;
    width: 218px;
    height: 4px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.title {
    margin-bottom: 9px;
}
.point {
    width: 70px;
    border-radius: 4px;
}
.thermal {
    background: #ffb800;
}
.sun {
    background: #ff0000;
}
.condensation {
    background: #00a0e3;
}
.point:not(:last-of-type) {
    margin-right: 4px;
}
