.page {
    padding: 12px 14px 26px 26px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.button {
    margin-left: 10px;
}
.button:first-of-type {
    margin-left: auto;
}
.form {
    width: 572px;
    display: flex;
    flex-direction: column;
}
.date-list {
    margin-bottom: 8px;
}
.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
}
.date:not(:last-of-type) {
    border-bottom: var(--default-border);
}
.selected-date {
    margin-left: auto;
    margin-right: 12px;
}
.field-list {
    margin-bottom: 24px;
}
.field:not(:last-of-type) {
    margin-bottom: 11px;
}
.field-input {
    width: 100%;
}
.select {
    font-weight: 400;
}
.eventTitle {
    margin-bottom: 12px;
}
.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-input {
    flex-grow: 1;
    margin-right: 10px;
}
.add-button {
    margin-top: 10px;
}
