.modal.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--modal-z-index);
}
.content {
    position: relative;
    border-radius: var(--default-border-radius);
    padding: 24px;
    box-sizing: border-box;
    width: 520px;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
}
.title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
}
.body {
    font-size: 14px;
    line-height: 18px;
}
.actions {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.action-button {
    margin-right: 20px;
}
.positive-button {
    min-height: 40px;
    box-sizing: border-box;
    flex-shrink: 1;
}
.action-button.positive-button {
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
}
.negative-button {
    font-weight: 500;
    font-size: 14px;
    color: #515257;
    padding: 12px 0;
}
.mobile .content {
    max-height: calc(100% - 2 * var(--default-horizontal-page-padding));
    overflow: auto;
    width: calc(100% - 2 * var(--default-horizontal-page-padding));
}
.modal.mobile {
    top: var(--header-height);
    left: 0;
    height: calc(var(--vh) * 100 - var(--header-height));
    width: 100vw;
    padding-bottom: 0;
    padding-right: 0;
}
