.service-editor {
    display: flex;
}
.service-editor:not(:last-child) {
    margin-bottom: 12px;
}
.name-wrap {
    flex: 1;
    margin-right: 10px;
}
.name-wrap > input {
    width: 435px;
}
.price-input > input {
    width: 120px;
    margin-right: 6px;
}
.remove-button {
    margin-left: 10px;
}
.service-editor > div {
    display: flex;
    align-items: flex-end;
}
.price-input > p {
    color: var(--black-color);
    font-size: 14px;
    line-height: 18px;
}
.input {
    width: 100%;
}
.service-editor .price-wrap {
    flex-basis: auto;
    align-items: center;
}
.service-editor.mobile {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}
.mobile .name-wrap {
    width: 100%;
}
.mobile .price-wrap {
    margin-top: 12px;
}
.mobile .name-wrap {
    width: 100%;
}
.mobile .name-wrap {
    width: 100%;
}
