.configurator {
    background: #fff;
    --default-padding: var(--default-horizontal-page-padding);
    position: relative;
    z-index: 1;
}
.readonly {
    pointer-events: none;
}
.remove-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.config-view {
    position: fixed;
    background: #fff;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(var(--vh) * 100);
}
.scroll-button {
    position: absolute;
    right: var(--default-horizontal-page-padding);
    top: -32px;
}
