.slide {
    padding: 60px;
    color: var(--text-inverse-color);
    display: flex;
    flex-direction: column;
    height: calc(var(--vh) * 100);
    background-repeat: no-repeat;
    background-color: #0f1517;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.slide.mobile {
    padding: 26px 33px;
}
