.modal {
    width: 472px;
    height: 660px;
    overflow: hidden;
    border-radius: 3px;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    color: var(--control-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}
.modal.mobile {
    width: calc(100% - 32px);
    max-width: 472px;
    height: 316px;
    box-sizing: border-box;
}
.tabs {
    display: flex;
    border-bottom: var(--default-border);
    padding: 7px 25px;
}
.tab {
    color: var(--placeholder-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.tab.active {
    color: var(--primary-color);
}
.tab:not(:last-of-type) {
    margin-right: 18px;
}
.count {
    min-width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}
