.content {
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
    display: flex;
}
.builder {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.builder > .action-bar {
    position: absolute;
    left: 0;
    top: 0;
}
.construction-drawer {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}
.connector-mode :global(.clickable.svg-connector-clickable-area) {
    cursor: pointer;
    pointer-events: initial;
}
.content.connector-mode :global(.svg-construction-drawer-wrap) :global(.add-button),
.content.connector-mode :global(.svg-dimension-lines-group),
.content.connector-mode :global(.svg-root-frame-group) {
    opacity: 0.2;
    cursor: initial;
    pointer-events: none;
}
.content.connector-mode :global(.svg-connector) {
    cursor: pointer;
    pointer-events: initial;
}
.sidebar {
    box-sizing: border-box;
    width: calc(var(--side-bar-width) + var(--default-padding));
    padding: var(--default-padding);
    padding-left: 0;
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
    z-index: 1;
}
.content > :global(.order-errors-expandable) {
    position: absolute;
    left: var(--default-padding);
    bottom: var(--default-padding);
    border-radius: var(--default-border-radius);
    border: var(--default-border);
}
.content > :global(.order-errors-expandable.visible) {
    height: calc(100% - 2 * var(--default-padding));
}
.energy-icon {
    position: absolute;
    left: 18px;
    bottom: 16px;
    min-width: 28px;
    height: 36px;
    background: url('../../../resources/images/energy-icon-large.svg') no-repeat;
    background-size: 28px 36px;
    color: var(--abbey-color);
    font-weight: bold;
    font-size: 23px;
    line-height: 36px;
    padding-left: 34px;
}
.energy-icon.right {
    left: unset;
    right: 18px;
    height: 18px;
    bottom: 24px;
    background-size: 14px 18px;
    font-size: 18px;
    line-height: 20px;
    padding-left: 20px;
}
