.color-item {
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: 116px;
    max-width: 130px;
    box-sizing: border-box;
    align-items: center;
    border-radius: var(--default-border-radius);
    flex-shrink: 1;
    flex-basis: 125px;
    flex-grow: 1;
}
.color-item > p {
    font-size: 12px;
    margin-top: 8px;
    text-align: center;
}
.color-item > div {
    width: 100%;
    height: 58px;
}
.icon {
    margin-left: 0;
}
.icon.white {
    background-image: url('./resources/no-color-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #f2f2f2;
}
