.orders-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.states-filter {
    width: 100%;
}
.dates-filter {
    margin-top: var(--default-vertical-page-padding);
    width: 100%;
}
.search {
    width: 100%;
    margin-top: var(--default-vertical-page-padding);
}
.reset-button {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 12px 12px;
    opacity: 0.35;
}