.action-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.action-button > img {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}
.action-button > p {
    color: var(--black-color);
    white-space: nowrap;
}
.action-button:hover:not(.disabled)> p {
    text-decoration: underline;
}
.action-button.disabled {
    cursor: auto;
}