.svg-construction-drawer-wrap {
    position: relative;
    display: flex;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}
.clickable {
    cursor: pointer;
}
.svg-construction-drawer {
    flex: 1;
    transform: scaleY(-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dimension-line-input {
    /*position: absolute;*/
    text-align: center;
    width: 35px;
    height: 25px;
    border: none;
    background: var(--bg-color);
}
.dimension-line-input:not(:focus) {
    padding: 0 1px;
}
.dimension-line-input:focus {
    background: #fff;
    border: 2px solid var(--active-color);
    width: 50px;
    min-width: 50px;
}
.dimension-line-input.onboarding-focused {
    background: #fff;
    border: 2px solid var(--active-color);
    width: 50px;
    min-width: 50px !important;
}
.clickable.svg-connector-clickable-area {
    cursor: initial;
    pointer-events: none;
}
.svg-connector-clickable-area:hover {
    fill: transparent;
    stroke: var(--active-color);
}
.svg-connector-clickable-area.svg-element-selected {
    fill: transparent;
    stroke: transparent;
}
.svg-element-selected.svg-connector {
    stroke: var(--active-color);
}
.dimension-line-input-label {
    position: absolute;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
