.content {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-inverse-color);
    border-radius: var(--default-border-radius);
    max-width: 288px;
    padding: 8px;
    background-color: var(--shark-color);
    position: absolute;
    pointer-events: none;
    z-index: var(--arrow-tooltip-z-index);
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    transition: opacity .2s ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
}
.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}
.arrow--bottom {
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent var(--shark-color);
    top: -8px;
}
.arrow--top {
    border-width: 8px 7px 0 7px;
    border-color: var(--shark-color) transparent transparent;
    bottom: -8px;
}
