.configurator {
    width: 100%;
    flex-direction: column;
    display: flex;
    padding-bottom: var(--default-padding);
}
.configurator .radio-group label:not(:last-child) {
    margin-right: 35px;
}
.colors {
    display: flex;
    width: 100%;
    margin-top: var(--default-padding);
}
.footer {
    font-size: 12px;
    margin-top: 10px;
}
.mobile .colors {
    justify-content: center;
}
.mobile .footer {
    justify-content: center;
    text-align: center;
}
.mobile .radio-group {
    justify-content: center;
}
