.stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}
.header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 86px;
}
.title {
    font-size: 14px;
    line-height: 24px;
    margin-top: 38px;
}
.content {
    display: flex;
    margin-top: 62px;
    justify-content: space-between;
    width: 740px;
}
.description {
    width: 200px;
    line-height: 18px;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.icon:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 50px;
    left: 214px;
    display: block;
    width: 34px;
    height: 12px;
    background: url('./resources/arrow.svg');
}
.description {
    margin-top: 27px;
    text-align: center;
}
.next-button {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 106px;
}
.demo-message {
    color: var(--error-color);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 52px;
}
.demo-message p:not(:last-of-type) {
    margin-bottom: 18px;
}
.mobile .content {
    flex-direction: column;
    align-items: center;
    width: auto;
}
.mobile .description {
    margin: 12px 0;
}
.mobile .icon:not(:last-of-type):after {
    transform: rotate(90deg);
    position: static;
    margin: 14px 0 28px;
}
.mobile .title {
    margin-top: 0;
}
.mobile .content,
.mobile .next-button {
    margin-top: calc(var(--default-padding) * 2);
}
.mobile .demo-message {
    margin-top: 30px;
}
