.type {
    padding: 0 18px;
    height: 24px;
    font-weight: 500;
    font-size: 12px;
    color: var(--control-text-color);
    display: flex;
    align-items: center;
}
.type:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.request {
    background-color: var(--pink-color);
}
.request:before {
    background: url('./resources/request.svg') no-repeat center;
}
.measuring {
    background-color: var(--bisque-color);
}
.measuring:before {
    background: url('./resources/measuring.svg') no-repeat center;
}
.shipping {
    background-color: var(--lightcyan-color);
}
.shipping:before {
    background: url('./resources/shipping.svg') no-repeat center;
}
.mounting {
    background-color: var(--aero-blue-color);
}
.mounting:before {
    background: url('./resources/mounting.svg') no-repeat center;
}
.centered {
    padding-left: 85px;
}
.centered:before {
    margin-right: 6px;
}
.centered span {
    width: 50px;
    text-align: center;
}
