.button {
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: var(--control-border-radius);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:disabled {
    background-color: var(--disabled-color);
}
.button::before {
    content: '';
    height: 100%;
    width: 100%;
    background: url("./resources/down_load_icon.inline.svg") center no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(-1);
}