.order-params-card {
    flex: 1;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.order-params-card.disabled {
    pointer-events: initial;
}
.content {
    padding: var(--default-padding);
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
}
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 36px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 16px;
    border-top: 1px solid var(--border-color);
    font-size: 12px;
}
.footer b {
    font-weight: 500;
}
