.button {
    height: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0 var(--default-padding);
    border-bottom: var(--default-border);
    background: #fff url('../../../resources/images/down_icon.svg') calc(100% - var(--default-padding) + 8px) 50% no-repeat;
}
.icon {
    min-height: 14px;
    min-width: 14px;
    max-height: 14px;
    max-width: 14px;
    border-radius: 50%;
    background-image: url('../../../resources/images/attention_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--red-color);
    animation: blink 2s ease-in-out infinite;
    margin-right: 8px;
}
.content {
    padding: var(--default-padding);
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
}
@keyframes blink {
    0% {
        background-color: var(--red-color);
    }
    50% {
        background-color: var(--yellow-color);
    }
    100% {
        background-color: var(--red-color);
    }
}