.hint {
    --top-offset: calc(var(--header-height));
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: var(--top-offset);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--top-offset));
    z-index: var(--construction-configurator-hint--index);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: calc(var(--side-bar-width) + var(--default-padding) * 2);
    color: #fff;
}
.hint > p {
    text-align: right;
    margin-bottom: 24px;
}
.sidebar {
    pointer-events: none;
    box-sizing: border-box;
    width: calc(var(--side-bar-width) + var(--default-padding));
    padding: var(--default-padding);
    top: var(--tabs-panel-height);
    right: 0;
    height: calc(100% - var(--top-offset) - var(--order-page-footer-height));
    position: absolute;
    padding-left: 0;
}