.onboarding {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 100000;
    --z-index-tooltip: 1000000000;
}
.tooltip {
    position: absolute;
    z-index: var(--z-index-tooltip);
    opacity: 0;
    animation: none;
}
.tooltip.visible {
    animation: tooltipVisibility 0.5s ease-in-out forwards;
}
.highlighted {
    position: absolute;
    box-shadow: rgb(0 0 0 / 50%) 0 0 0 4000px;
    z-index: var(--z-index-tooltip);
    width: 0;
    height: 0;
}
.category-list {
    width: 100%;
    position: absolute;
    bottom: 45px;
    display: flex;
    justify-content: center;
    z-index: var(--z-index-tooltip);
    font-size: 16px;
    line-height: 24px;
    opacity: 0;
}
.mobile .category-list {
    flex-direction: column;
    align-items: center;
    bottom: 30px;
}
.category-list.visible {
    opacity: 1;
}
.category-item {
    margin: 0 15px;
}
.mobile .category-item {
    margin-bottom: 4px;
}
.category-link {
    padding: 4px 6px;
    color: var(--silver-color);
    text-decoration: none;
}
.category-link.active {
    color: var(--text-inverse-color);
    border-bottom: 2px solid var(--text-inverse-color);
}
.category-link:hover,
.category-link:focus {
    opacity: 0.8;
}
@keyframes tooltipVisibility {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
