.button {
    width: 24px;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
    padding: 0;
    cursor: pointer;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: var(--control-border-radius);
}
.icon {
    width: 22px;
    height: 22px;
    min-height: 22px;
    min-width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button path[stroke] {
    stroke: var(--bright-gray-color);
}
.button path[fill] {
    fill: var(--bright-gray-color);
}
.button:hover {
    border-color: var(--primary-color);
}
.button.disabled {
    pointer-events: none;
}
.button:disabled,
.button.disabled {
    border-color: var(--disabled-color);
    background: var(--disabled-color);
}
.button:disabled path[stroke],
.button.disabled path[stroke] {
    stroke: var(--text-inverse-color);
}
.button:disabled path[fill],
.button.disabled path[fill] {
    fill: var(--text-inverse-color);
}
.button.with-fill:hover {
    background: var(--primary-color);
}
.button.with-fill:hover path[stroke] {
    stroke: var(--text-inverse-color);
}
.button.with-fill:hover path[fill] {
    fill: var(--text-inverse-color);
}
.button.with-border:hover path[stroke] {
    stroke: var(--primary-color);
}
.button.with-border:hover path[fill] {
    fill: var(--primary-color);
}
