.mounting {
    padding: var(--default-vertical-page-padding) var(--default-horizontal-page-padding);
}
.date {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.datetime {
    margin-left: auto;
    margin-right: 12px;
}
.date-created {
    margin-left: auto;
}
.input {
    width: 100%;
    margin-bottom: 12px;
}
.delete-button {
    width: 100%;
}
