.button {
    padding: 0 9px;
    position: relative;
}
.button.active path {
    fill: var(--primary-color);
}
.button:hover,
.button:focus {
    opacity: 0.7;
}
.button.with-notifications:before {
    position: absolute;
    content: '';
    display: block;
    top: -3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
