.selector {
    background: #fff;
}
.colors {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.description-expandable {
    padding-bottom: var(--default-padding);
}
.description-expandable .description-title {
    font-size: 12px;
    color: var(--blue-color);
    padding-left: 17px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: min-content;
    cursor: pointer;
    margin: 0 auto;
}
.description-title::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 10px;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scaleY(-1);
    transition: var(--default-transition);
    background: url('./resources/up-red-icon.svg') center no-repeat;
}
.description-expandable.expanded .description-title::before {
    transform: translateY(-50%) scaleY(1);
}
.description-expandable .description {
    padding-top: var(--default-padding);
    font-size: 12px;
    line-height: 14px;
    color: var(--focus-color);
    text-align: center;
    box-sizing: border-box;
}
.mobile .colors {
    justify-content: center;
}
.mobile .footer {
    justify-content: center;
}
