.selector {
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
    height: 100%;
    width: 100%;
}
.item {
    height: var(--action-bar-height);
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--default-border-radius);
}
.item > p {
    font-size: 15px;
    font-weight: 500;
}