.furniture-selector {
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
    height: 100%;
    width: 100%;
}
.furniture-selector__item {
    height: var(--action-bar-height);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.furniture-selector__item > p {
    font-size: 15px;
    font-weight: 500;
}
.mobile-sidebar__body .furniture-selector {
    flex-direction: column;
}
.mobile-sidebar__body .furniture-selector__item {
    height: 135px;
}