.report {
    background-color: var(--white-color);
    height: auto;
}
.report :global(.app) {
    height: auto;
}
.title{
    font-size: 14pt;
    line-height: 16pt;
    margin-bottom: 12pt;
    text-transform: capitalize;
}
.details {
    display: flex;
    justify-content: space-between;
    font-size: 11pt;
    line-height: 13pt;
    margin-bottom: 12pt;
}
.row {
    display: flex;
    font-size: 12pt;
    line-height: 16pt;
    color: var(--control-text-color);
    border-bottom: var(--default-border);
    box-sizing: border-box;
    font-weight: 500;
}
.day {
    width: 25pt;
    margin-right: 8pt;
    text-align: center;
    padding: 5pt 0 6pt 0;
}
.weekday {
    width: 72pt;
    margin-right: 20pt;
    padding: 5pt 0 6pt 0;
}
.event-type {
    background-color: transparent;
    padding: 0;
    margin-right: 22pt;
    width: 66pt;
    height: auto;
    font-size: 12pt;
    line-height: 16pt;
}
.event-row {
    display: flex;
    padding: 5pt 0 6pt 0;
}
