.radio-group {
    display: flex;
    align-items: center;
}
.radio-group.vertical {
    flex-direction: column;
    align-items: flex-start;
}
.item {
    position: relative;
    color: var(--control-text-color);
    font-size: var(--control-font-size);
    padding-left: 20px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.radio-group > .item:not(:last-child) {
    margin-right: 16px;
}
.radio-group.vertical > .item:not(:last-child) {
    margin-bottom: 16px;
    margin-right: 0;
}
.input {
    width: 0;
    height: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.input::before {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--border-color);
    box-sizing: border-box;
}
.input:not(:checked):hover::before,
.input:not(:checked):focus::before {
    background-color: var(--hover-color);
}
.input:disabled:not(:checked)::before {
    background: none;
}
.input:checked::before {
    border: 2px solid var(--primary-color);
}
.input:checked:hover::before,
.input:checked:focus::before {
    border: 2px solid var(--primary-hover-color);
}
.input:checked::after {
    content: '';
    height: 8px;
    width: 8px;
    position: absolute;
    border-radius: 50%;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-color);
    box-sizing: border-box;
}
.input:checked:hover::after,
.input:checked:focus::after {
    background: var(--primary-hover-color);
}
.input:disabled ~ * {
    color: var(--disabled-color);
    cursor: default;
}
.input:disabled:checked::before {
    background: none;
    border-color: var(--disabled-color);
}
.input:disabled:checked::after {
    background-color: var(--disabled-color);
}
