.svg-icon-construction-drawer {
    transform: scaleY(-1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-icon-construction-drawer.energy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-icon-construction-drawer.energy::after {
    content: '';
    transform: scaleY(-1);
    display: block;
    width: 12px;
    height: 16px;
    position: absolute;
    background: url('../../../resources/images/energy-icon.svg') no-repeat center;
}
