.footer {
    position: absolute;
    bottom: 0;
    left: 10mm;
    font-size: 7pt;
    margin-bottom: 27.4pt;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer > img {
    width: 34.34pt;
    height: 9.47pt;
    padding-right: 7pt;
    box-sizing: border-box;
    border-right: 0.64pt solid #B2B3B3;
    margin-right: 7pt;
    padding-bottom: 2.09pt;
}
