.orders-page-table tr.energy {
    background-color: var(--bg-color);
    background-image: url('../../../resources/images/energy-pattern.png');
}
.orders-page-table td.price {
    font-weight: bold;
    color: var(--black-color);
    white-space: nowrap;
}
.orders-page-table td.price > span {
    color: var(--normal-color);
    font-weight: normal;
    pointer-events: none;
    user-select: none;
    opacity: 0;
}
.orders-page-table td.price.show-real-cost > span {
    pointer-events: inherit;
    user-select: auto;
    opacity: 1;
}
.orders-page-table td:nth-child(2) {
    min-width: 90px;
}
.orders-page-table td:nth-child(4) {
    min-width: 200px;
}
.orders-page-table th:nth-child(6),
.orders-page-table td:nth-child(6) {
    white-space: nowrap;
}
.order-numbers,
.order-numbers:visited {
    display: inline-block;
    width: min-content;
    color: var(--control-text-color);
    text-decoration-style: dotted;
}
.order-numbers > p {
    white-space: nowrap;
}
.order-numbers > p:first-child {
    font-weight: bold;
}
.cost-title {
    padding-right: 22px;
}
.cost-title .visibility-button-wrapper {
    margin-left: 8px;
}
.order-constructions {
    display: flex;
    align-items: center;
}
.order-constructions > *:not(:last-child) {
    margin-right: 4px;
}
.more-text {
    height: 28px;
    display: flex;
    align-items: flex-end;
}
.affiliate {
    color: var(--normal-color);
    font-size: 13px;
    display: block;
}
.amega-cost {
    cursor: pointer;
}
