.slide {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
.welcome {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}
.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    max-width: 382px;
    margin-top: auto;
}
.mobile .title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 54px;
    max-width: 240px;
}
