.svg-construction-drawer-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: var(--action-bar-height);
    box-sizing: border-box;
    position: relative;
}
.add-button-wrap {
    position: absolute;
    z-index: 1;
}