.construction-errors {
    position: relative;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
}
.header > p {
    font-weight: bold;
    font-size: 14px;
    margin-left: 12px;
}
.error {
    display: flex;
    margin-top: 15px;
}
.error-text {
    margin-left: 8px;
}
.error-name {
    font-weight: bold;
    font-size: 14px;
}
.error-message {
    font-size: 14px;
    margin-top: 4px;
}
.construction-errors-button {
    font-size: 14px;
    color: var(--blue-color);
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}