.hint {
    height: 16px;
    width: 16px;
    min-width: 16px;
    min-height: 16px;
    outline: none;
    cursor: pointer;
}
.hint path {
    fill: var(--border-color);
}
.hint:hover path {
    fill: var(--primary-color);
}
.hint.dark path {
    fill: var(--trout-color);
}
