.modal {
    color: var(--placeholder-color);
}
.modal > div {
    width: 707px;
    padding: 12px 0 20px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.modal > div * {
    font-size: 12px;
}
.content {
    max-height: calc(100vh - 4 * var(--header-height));
    overflow: auto;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.title {
    font-size: 14px;
    line-height: 24px;
    padding: 0 30px 0 20px;
    margin-bottom: 12px;
}
