.date-selector {
    position: relative;
    width: min-content;
}
.date-picker {
    position: fixed;
    background: var(--control-bg-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--control-border-radius);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}
.date-selector.active .date-picker {
    opacity: 1;
    pointer-events: inherit;
    z-index: 100;
}
.date-selector .input {
    background: var(--control-bg-color);
    width: 24px;
    height: 24px;
    text-align: center;
}
.date-selector.has-date .input {
    height: 36px;
    padding-left: 32px;
    width: 118px;
}
.date-selector.active .input {
    border-color: var(--primary-color);
}
.date-selector .icon {
    position: absolute;
    top: 4px;
    left: 4px;
}
.date-selector.has-date .icon {
    top: 10px;
    left: 10px;
}
.date-selector.active .icon path {
    fill: var(--primary-color);
}
.date-selector.disabled .icon path {
    fill: var(--disabled-color);
}
.date-selector.active.mobile .date-picker {
    position: absolute;
}
