.tabs {
    display: flex;
}
.tab {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 3px 0;
}
.tab a {
    text-decoration: none;
    color: inherit;
}
.tab.active {
    border-bottom: 2px solid var(--primary-color);
}
.tab:hover,
.tab:focus {
    opacity: 0.7;
}
.tab:not(:last-of-type) {
    margin-right: 84px;
}
