.row {
    padding: 8px 23px 8px 18px;
    display: flex;
}
.row > *:not(:last-child) {
    margin-right: 12px;
}
.time {
    width: 42px;
}
.client {
    width: 165px;
}
.address {
    width: 194px;
}
.phone {
    width: 112px;
}
.event-list.mobile {
    font-size: 12px;
    line-height: 14px;
}
.mobile .type {
    margin-bottom: 6px;
}
.mobile .row {
    padding: 6px 12px;
    flex-direction: column;
}
