.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border-radius: var(--default-border-radius);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background: var(--white-color);
    width: 336px;
    position: relative;
    padding: 46px 32px 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
}
.title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 16px;
}
.description {
    margin-bottom: 16px;
    color: var(--error-color);
}
.mobile .container {
    max-height: calc(var(--vh) * 100 - var(--header-height) - 2 * var(--default-padding));
    overflow: auto;
    width: calc(100% - 2 * var(--default-horizontal-page-padding));
    padding: 24px;
}
