.container {
    padding: 20px 37px;
    background: #35363b;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    width: 292px;
    min-height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}
.mobile.container {
    min-height: 380px;
}
.mobile.container.closed {
    height: 64px;
    min-height: unset;
    margin-bottom: 14px;
}
.toggle {
    position: absolute;
    top: 27px;
    right: 18px;
    background: url('./resources/down-arrow.svg') no-repeat center;
    background-size: 10px 6px;
    width: 20px;
    height: 12px;
}
.toggle.open {
    transform: rotate(180deg);
}
.type {
    margin-left: 7px;
    margin-bottom: 28px;
    color: #fff;
}
.indicator:not(:last-of-type) {
    margin-bottom: 13px;
}
.list {
    margin-top: 32px;
    margin-bottom: 26px;
}
.list li {
    display: flex;
}
.space {
    position: relative;
    flex-grow: 1;
    margin: 0 4px 0 6px;
}
.space:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}
.list li:not(:last-of-type) {
    margin-bottom: 7px;
}
.application {
    display: flex;
    flex-direction: column;
}
.application b {
    margin-bottom: 10px;
    font-weight: 500;
}
.link {
    color: #00a0e3;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    min-width: 65px;
    padding: 4px 23px 4px 12px;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 33px;
    transition: border-color 0.3s;
    position: relative;
    margin-left: -12px;
    margin-top: auto;
    margin-bottom: 4px;
    align-self: flex-start;
}
.link::after {
    content: '';
    display: block;
    width: 9px;
    height: 8px;
    background-image: url('./resources/arrow.svg');
    position: absolute;
    top: 7px;
    right: 6px;
}
.link:hover,
.link:focus {
    border-color: #00a0e3;
}
