.sidebar-item {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.back-icon {
    background: url("./resources/back_icon.svg") center no-repeat;
    width: 6px;
    height: 9px;
    margin-right: 8px;
}