.body {
    background: var(--white-color);
    height: auto;
    color: #000;
    font-size: 8pt;
    line-height: 9pt;
}
.body :global(.app) {
    height: auto;
}
.header span {
    font-weight: bold;
}
.title {
    font-size: 11pt;
    line-height: 13pt;
    margin-bottom: 12pt;
}
.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 18pt);
    gap: 2pt;

}
.details p {
    background-color: var(--report-bg-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4pt 7pt;
}
.construction-details {
    grid-column: 1 / span 2;
    display: flex;
}
.construction-details p:not(:first-of-type) {
    padding-left: 16pt;
}
.construction-details p:last-of-type {
    flex-grow: 1;
}
.comment-container {
    margin-top: 2pt;
    background-color: var(--report-bg-color);
    padding: 4pt 7pt;
}
.comment {
    height: 28pt;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.comment span {
    font-weight: bold;
}
.constructions {
    margin: 15pt 0;
    font-size: 9pt;
    line-height: 10pt;
    text-transform: uppercase;
}
.list {
    margin-bottom: 20pt;
}
.list-title {
    font-size: 9pt;
    font-weight: bold;
    line-height: 9pt;
    margin-bottom: 16pt;
}
.list-item {
    background-color: var(--report-bg-color);
    padding: 4pt 7pt;
    margin-bottom: 2pt;
    display: flex;
    justify-content: space-between;
}
.item-details {
    flex-basis: 100pt;
}
.report :global(.dimension-line-input) {
    background: var(--white-color);
}
