.partner-goods {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
    max-width: 600px;
}
.title {
    margin-bottom: 20px;
}
.list {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
}
.item:not(:last-of-type) {
    margin-bottom: 16px;
}
.field {
    margin-right: 10px;
    flex-grow: 1;
}
.price {
    width: 110px;
    flex-grow: 0;
}
.input {
    width: 100%;
}
.remove-button {
    align-self: flex-end;
    margin-bottom: 5px;
}
.mobile .item {
    flex-wrap: wrap;
}
.mobil .item:not(:last-of-type) {
    margin-bottom: 0;
}
.mobile .field {
    margin-bottom: 12px;
}
.mobile .remove-button {
    margin-bottom: 17px;
}
