.input {
    display: flex;
    align-items: center;
}
.input > input {
    width: 62px;
    text-align: center;
    margin-right: 6px;
}
.input > p {
    color: var(--control-text-color);
    font-size: 14px;
}
