.subheader {
    font-weight: 500;
    font-size: 14px;
}
.service {
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.name-wrap {
    flex: 1;
    margin-right: 10px;
}
.name {
    width: 100%;
}
.cost > span {
    font-weight: bold;
}
.remove-button {
    margin-left: auto;
    padding-top: 20px;
    padding-left: 12px;
}
.add-select {
    margin-top: 12px;
}
.mobile .service {
    flex-wrap: wrap;
}
.mobile .name-wrap {
    flex-basis: 100%;
    margin-right: 0;
}
.mobile .service > *:not(:first-of-type) {
    margin-top: 12px;
}
