.page {
    background-color: var(--bg-color);
    background-image: url('../../../resources/images/energy-pattern.png');
    height: calc(var(--vh) * 100 - var(--header-height));
    box-sizing: border-box;
    overflow-y: auto;
}
.tabs {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    padding: 36px 36px 40px;
}
.mobile .tabs {
    padding: 16px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
.tab {
    padding: 2px 0;
    text-decoration: none;
    color: var(--manatee-color);
}
.mobile {
    flex: 1 1 128px;
}
.tab:not(:last-of-type) {
    margin-right: 50px;
}
.mobile .tab:not(:last-of-type) {
    margin-right: 16px;
}
.tab:hover {
    opacity: 0.8;
}
.tab.active {
    color: var(--trout-color);
    border-bottom: 2px solid var(--primary-color);
}
