.page {
    height: calc(var(--vh) * 100 - var(--header-height));
    box-sizing: border-box;
    padding: var(--default-padding);
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title {
    flex: 1 1 30%;
    padding-left: 14px;
}
.header {
    display: flex;
    margin-bottom: 12px;
}
.table {
    flex: 1;
}
.search-wrap {
    display: flex;
    align-items: center;
    flex: 1 1 70%;
    margin-left: auto;
}
.button {
    margin-right: 12px;
}
