.payments {
    max-width: 800px;
}
.table td {
    font-weight: 500;
}
.title {
    margin-bottom: 24px;
}
.mobile .title {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.filter {
    width: 260px;
}
.mobile .filter {
    width: 100%;
}
.action-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 36px;
}
.mobile .action-bar {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}
.mobile .pagination {
    margin-top: var(--default-padding);
    justify-content: center;
}
.mobile .table th,
.mobile .table td {
    padding: 0 8px;
}
.mobile .table td {
    font-size: 13px;
}
