.good-attributes-editor {
    display: flex;
}
.good-attributes-editor .disabled {
    pointer-events: none;
}
.good-attributes-editor > *:not(:last-child) {
    margin-right: 12px;
}
.good-color {
    height: 20px;
    width: 20px;
}
.good-attributes-editor .input-number {
    width: 100%;
    min-width: 55px;
}