.created-date {
    z-index: 3;
}
.states {
    z-index: 2;
    border: none;
}
.name input {
    width: 100%;
}
.sidebar {
    margin-left: var(--default-padding);
}
.range-slider {
    justify-content: space-between;
}
