.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 317px;
    max-width: 317px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background: var(--white-color);
    position: relative;
    padding: 17px 17px 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 16px;
    line-height: 24px;
}
.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
}
.mobile .content {
    max-height: calc(var(--vh) * 100 - var(--header-height) - 2 * var(--default-padding));
    overflow: auto;
    width: calc(100% - 2 * var(--default-horizontal-page-padding));
    padding: 24px;
}
