.page {
    padding: var(--default-vertical-page-padding) var(--default-horizontal-page-padding);
    background: white;
    min-height: calc(var(--vh) * 100 - var(--header-height));
    box-sizing: border-box;
}
.form {
    margin-bottom: var(--default-horizontal-page-padding);
}
.menu {
    margin: var(--default-padding) 0 0;
    justify-content: center;
}