.filling-editor {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.vendor-code {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
}
.preview {
    margin-bottom: 14px;
}
.checkbox {
    width: 180px;
    margin-bottom: 4px;
    align-self: center;
}
.checkbox:last-of-type {
    margin-bottom: 10px;
}
.selector {
    margin-bottom: 18px;
}
.glass-color-selector {
    margin-bottom: 12px;
}
.glass-color {
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-color);
    text-decoration: none;
}
.glass-color:hover,
.glass-color:focus {
    text-decoration: underline;
}
.name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--placeholder-color);
    margin-bottom: 2px;
}
.thickness {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--placeholder-color);
    margin-bottom: 14px;
}
