.header {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.top-menu {
    box-sizing: border-box;
    width: 100%;
    transition: var(--default-transition);
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: var(--black-color);
    z-index: 4;
    background: #fff;
    border-bottom: 1px solid var(--border-color);
    height: 50px;
}
.top-menu.cash-mode {
    background: var(--iron-color);
}
.registration {
    background: var(--primary-color);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-wrap {
    margin-right: 27px;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo {
    height: 12px;
}
.account-balance-link {
    text-decoration: none;
}
.account-balance:hover {
    color: var(--blue-color);
}
.phone-link {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.phone-link:hover,
.phone-link:focus {
    text-decoration: underline;
}
.action-button {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
}
.action-button:hover,
.action-button:focus {
    opacity: 0.7;
}
.phone-link {
    position: relative;
}
.phone-link::after {
    content: '(звонок бесплатный)';
    font-size: 10px;
    line-height: 12px;
    color: var(--placeholder-color);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.news {
    padding-left: 25px;
    background: url('./resources/news_icon.svg') no-repeat;
}
.bonus {
    margin-left: 40px;
}
.notification-button {
    margin: 0 25px 0 auto;
}
.add-button {
    margin-right: 30px;
}
.balance-mode {
    margin: 0 14px 0 8px;
}
