.order-errors-expandable {
    width: var(--side-bar-width);
    background: #fff;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    --start-height: 34px;
    height: var(--start-height);
    padding-left: var(--default-padding);
    padding-right: 4px;
    transition: var(--default-transition);
    overflow: hidden;
    box-sizing: border-box;
}
.order-errors-expandable__content {
    padding: 0 20px;
}
.order-errors-expandable__header {
    height: var(--start-height);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 var(--default-padding);
    border-top: 1px solid transparent;
    background: #fff;
    cursor: pointer;
}
.order-errors-expandable__header > p {
    position: relative;
    margin-left: 6px;
    font-size: 14px;
    flex: 1;
    padding-right: 20px;
}
.order-errors-expandable__header > p::after {
    content: '';
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scaleY(-1);
    background: url('../../../resources/images/down_icon_big.svg') center no-repeat;
}
.order-errors-expandable__body {
    position: relative;
    height: calc(100% - var(--start-height));
    overflow: auto;
    padding-top: var(--default-padding);
    padding-bottom: calc(var(--default-padding) * 2);
    box-sizing: border-box;
}
.order-errors-expandable.visible {
    height: calc(var(--vh) * 100 - var(--header-height) - var(--action-bar-height));
}
.order-errors-expandable.visible .order-errors-expandable__header {
    border-color: var(--border-color);
}
.order-errors-expandable.visible .order-errors-expandable__header > p::after {
    transform: translateY(-50%) scaleY(1);
}
