.table {
    overflow: visible;
}
.table td:nth-child(3) {
    min-width: 90px;
}
.order-numbers,
.order-numbers:visited {
    display: inline-block;
    width: min-content;
    color: var(--control-text-color);
    text-decoration-style: dotted;
}
.order-numbers > p {
    white-space: nowrap;
}
.order-numbers > p:first-child {
    font-weight: bold;
}
