.header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 32px;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background: var(--border-color);
    border: 1px solid var(--border-color);
}
.label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--placeholder-color);
    padding: 8px 0;
}
.day {
    height: 115px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: var(--control-text-color);
    background: var(--white-color);
}
.day.last {
    background: var(--bg-color);
}
.day.present {
    background: var(--hover-color);
}
.day-number {
    color: var(--placeholder-color);
    align-self: flex-end;
    margin-right: 3px;
}
.disabled {
    color: var(--mercury-color);
}
.event {
    display: flex;
    justify-content: space-between;
    margin: 0 16px 3px 10px;
    padding: 0 1px 0 8px;
    cursor: pointer;
}
.tablet .event {
    margin: 0 8px 3px;
}
.event:hover {
    background-color: var(--link-water-color);
    border-radius: 9px;
}
.event-count {
    border-radius: 50%;
    min-width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.request {
    background-color: var(--pink-color);
}
.measuring {
    background-color: var(--bisque-color);
}
.shipping {
    background-color: var(--lightcyan-color);
}
.mounting {
    background-color: var(--aero-blue-color);
}
.all-events {
    color: var(--placeholder-color);
    margin: auto 10px 8px;
    align-self: flex-start;
    padding: 0 8px;
    font-size: 12px;
}
.tablet .all-events {
    margin: auto 8px 8px;
    padding: 0;
}
.all-events:hover {
    color: var(--control-text-color);
}
