.template-selector {
    position: fixed;
    height: calc(var(--vh) * 100 - var(--header-height));
    box-sizing: border-box;
    overflow: auto;
    width: calc(100% - var(--menu-width));
    left: var(--menu-width);
    top: var(--header-height);
    z-index: var(--order-page-footer-z-index);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--action-bar-height);
    min-height: var(--action-bar-height);
    background: var(--action-bar-bg-color);
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    color: var(--black-color);
    font-size: 14px;
    position: relative;
}
.header-title {
    font-weight: 500;
    font-size: 14px;
}
.title {
    color: var(--black-color);
    font-size: 18px;
    text-align: center;
    margin: 27px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs {
    margin: 18px 0 27px;
}
.templates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 100%;
}
.rows {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    max-width: 100%;
    position: relative;
}
.item > img {
    max-width: 100%;
    object-fit: contain;
}
.item.inactive {
    opacity: 0.5;
}
.item:hover:not(.inactive) {
    background: #fff;
    cursor: pointer;
}
.item > p {
    font-size: 12px;
    text-align: center;
}
.debug-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    top: var(--default-padding);
    right: var(--default-padding);
}
.debug-info > p {
    font-size: 12px;
    padding: 4px;
    border-radius: var(--control-border-radius);
    background: var(--error-color);
    color: #fff;
    margin-bottom: 4px;
    text-transform: capitalize;
}
.group-icons {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 16px;
}
.group-icon {
    height: 100%;
    width: 60px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}
.group-icon.selected {
    opacity: 1;
    background: #fff;
}
.close-button {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 28px;
    top: calc(var(--action-bar-height) + 16px);
}
.template-selector.mobile {
    box-sizing: border-box;
    padding: 8px 24px;
    height: calc(var(--vh) * 100 - var(--header-height));
    overflow: auto;
    width: 100%;
    left: 0;
    top: var(--header-height);
}
.mobile .close-button {
    top: 16px;
}
