.body-row {
    display: flex;
    position: relative;
    padding: 8px 0;
}
.date {
    font-size: 12px;
    font-weight: 500;
}
.constructions-row {
    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.constructions-row > *:not(:last-child) {
    margin-right: 8px;
}
.order-number {
    font-weight: 500;
}
.order-state {
    margin-left: auto;
    margin-right: var(--default-padding);
}
.price {
    font-size: 20px;
}
.currency {
    font-size: 14px;
}
