.header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    padding: 0 var(--default-padding);
    font-weight: 500;
    font-size: 12px;
    color: var(--placeholder-color);
    border-bottom: 1px solid var(--border-color);
}
.header.navigation {
    height: auto;
    padding: 0 0 0 36px;
    border-bottom: none;
}
.header.navigation.mobile {
    padding-top: 9px;
}
.title {
    margin-right: 8px;
}
.clickable {
    cursor: pointer;
    position: relative;
}
.clickable:after {
    display: block;
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background: url('./resources/down_icon_big_gray.svg');
    right: var(--default-padding);
}
.clickable.navigation:after {
    display: block;
    position: absolute;
    left: 12px;
    transform: rotate(90deg);
}
