.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.row > *:not(:first-of-type) {
    margin-left: 16px;
    text-align: right;
}
.params {
    margin-bottom: 10px;
}
.header {
    justify-content: flex-start;
}
.checkbox {
    margin-right: 8px;
    transform: translateY(-2px);
}