.date-range-selector {
    position: relative;
    display: flex;
    align-items: center;
}
.date-range-selector > div {
    flex: 1;
}
.date-range-selector > div > input {
    width: 100% !important;
}
.date-range-selector > p {
    color: var(--border-color);
    font-size: 12px;
    margin: 0 8px;
}