body {
    font-family: monospace;
    font-size: 16px;
}
img {
    max-width: 100%;
}
.test {
    padding-bottom: 20px;
}
.test__images {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 5%;
}
.test__title {
    text-transform: capitalize;
}
