.table {
    overflow: auto;
}
.mobile .table {
    overflow: hidden;
}
.list > .table td {
    height: 48px;
    white-space: nowrap;
    padding: 0 12px;
}
.list.mobile > .table td {
    height: 28px;
    padding: 0 8px;
}
.list.mobile > .table td.day-number {
    padding-right: 4px;
}
.list.mobile > .table td.type {
    padding: 0 12px;
}
.list tbody > tr:hover,
.list tbody > tr.selected {
    background: none;
}
.list .last-row {
    border-bottom: 0;
}
.day-number {
    width: 32px;
}
.day-name {
    width: 80px;
}
.type {
    width: 100px;
}
.event-type {
    border-radius: 12px;
    width: 76px;
}
.mobile .event-type {
    height: 18px;
    border-radius: 9px;
}
