.progress-bar {
    position: fixed;
    height: calc(var(--vh) * 150);
    width: 150vw;
    background: rgba(0, 0, 0, 0.5);
    top: calc(var(--vh) * (-25));
    left: -25vw;
    display: none;
    transition: all 0.1s ease-in;
    z-index: var(--progress-z-index);
}
.progress-bar.visible {
    display: block;
}
.spinner {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border: 2px solid #fff;
    border-top: 2px solid var(--primary-color);
    border-radius: 100%;
    animation: rotation 0.6s infinite linear;
}
.loader-wrap {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    position: absolute;
    height: calc(var(--vh) * 100 - var(--header-height));
    top: calc(var(--header-height) + var(--vh) * 25);
    width: 100vw;
    left: 25vw;
}
.loader-wrap > p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
.progress-bar.show-special {
    background: none;
}
.progress-bar.show-special .spinner {
    display: none;
}
.progress-bar.show-special .loader-wrap {
    display: flex;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
.mobile .loader-wrap {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    position: absolute;
    height: calc(var(--vh) * 100);
    width: 100vw;
    top: calc(var(--vh) * 25);
    left: 25vw;
}
