.wrapper {
    position: relative;
}
.overlay {
    display: flex;
    z-index: 4;
}
.bonus {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    position: relative;
    color: var(--green-color);
    padding-left: 20px;
    text-decoration: none;
}
.bonus::before {
    content: '';
    display: block;
    width: 12px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../../../resources/images/energy-icon.svg');
}
.bonus-modal {
    position: absolute;
    top: 26px;
    left: -18px;
}
