.slide {
    background-image: url('../resources/slide1.jpg');
}
.slide.mobile {
    background-image: url('../resources/slide1-mobile.jpg');
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
}
.mobile .header {
    margin-bottom: 21px;
    flex-direction: column-reverse;
}
.text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-right: 20px;
}
.mobile .text {
    width: 260px;
    margin-top: 21px;
}
.welcome {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}
.title {
    font-size: 14px;
    line-height: 18px;
}
.statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 84px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
}
.mobile .statistics {
    grid-template-columns: 1fr 1fr;
    row-gap: 28px;
    column-gap: 18px;
    font-size: 12px;
    line-height: 15px;
}
.value {
    font-size: 64px;
    line-height: 81px;
    color: var(--primary-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 5px 20px rgba(0, 117, 255, 0.5);
}
.description {
    max-width: 222px;
}
.mobile .value {
    font-size: 36px;
    line-height: 45px;
}
.value span {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.mobile .value span {
    font-size: 18px;
    line-height: 23px;
}
.value span.schedule {
    font-size: 34px;
}
.brand-list {
    display: flex;
    align-items: center;
    margin-top: auto;
    max-width: calc(100% - 120px);
    flex-wrap: wrap;
}
.mobile .brand-list {
    display: none;
}
.brand-list li {
    margin-top: 12px;
}
.brand-list li:not(:last-of-type) {
    margin-right: 30px;
}
.brand-list .kbe {
    position: relative;
    top: -4px;
}
@media (min-width: 768px) and (max-width: 1100px) {
    .statistics {
        grid-template-columns: 1fr 1fr;
        row-gap: 28px;
        font-size: 14px;
        line-height: 15px;
    }
    .value {
        font-size: 36px;
        line-height: 45px;
    }
    .description {
        max-width: 160px;
    }
}
@media (max-height: 567px) {
    :global(.slick-slide) img.amega-logo {
        display: none;
    }
    .mobile .text {
        margin-top: 0;
    }
    .mobile .statistics {
        row-gap: 8px;
    }
    .mobile .header {
        margin-bottom: 10px;
    }
}
