.items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
}
.item {
    min-height: var(--action-bar-height);
    width: 160px;
    box-sizing: border-box;
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
}
.item-title {
    font-size: 14px;
}
.item-description {
    font-size: 12px;
    line-height: 14px;
    margin-top: 6px;
    color: var(--focus-color);
}
.mobile.items {
    justify-content: center;
}
.params {
    width: 100%;
}
