.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.edit-button {
    border: none;
    padding: 0 10px;
    box-sizing: content-box;
    height: 32px;
}
.edit-button path[stroke] {
    stroke: white;
}
.email {
    margin-left: 12px;
    overflow: hidden;
}
.email > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
