.input {
    flex: 1;
    background: #fff url("./resources/magnifier_icon.svg") 10px 50% no-repeat;
    padding: 0 36px;
}
.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.clear-button {
    position: absolute;
    right: 10px;
}
