.sidebar {
    position: fixed;
    height: calc(var(--vh) * 100 - var(--header-height) - 2 * var(--default-padding));
    width: var(--side-bar-width);
    top: calc(var(--header-height) + var(--default-padding));
    right: calc(var(--side-bar-width) * (-1) - var(--default-padding));
    transition: var(--default-transition);
    z-index: 4;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: var(--default-border-radius);
    box-sizing: border-box;
}
.visible {
    right: var(--default-padding)
}
.sidebar > *:not(.button-wrap) {
    margin: 0;
    flex: 1;
    border: none;
}
.sidebar > * > * {
    border-radius: 0;
    background: none;
    border: none;
}
.button-wrap {
    box-sizing: border-box;
    padding: var(--default-padding);
}
.title {
    display: flex;
    align-items: center;
}
.icon {
    margin-right: 10px;
}
.close-button path {
    fill: var(--primary-color);
}