.configuration {
    color: #4d4e55;
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.configuration:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.configuration.s {
    padding-left: 22px;
    font-size: 14px;
    line-height: 22px;
}
.configuration.s:before {
    width: 17px;
    height: 22px;
}
.configuration.m {
    padding-left: 26px;
    font-size: 18px;
    line-height: 24px;
}
.configuration.m:before {
    width: 19px;
    height: 25px;
}
.configuration.l {
    padding-left: 58px;
    font-size: 37px;
    line-height: 58px;
}
.configuration.l:before {
    width: 43px;
    height: 56px;
}
.configuration.basic-i:before {
    background-image: url('./resources/energy-basic-i.svg');
}
.configuration.basic-c:before {
    background-image: url('./resources/energy-basic-c.svg');
}
.configuration.expert-i:before {
    background-image: url('./resources/energy-expert-i.svg');
}
.configuration.expert-c:before {
    background-image: url('./resources/energy-expert-c.svg');
}
