.page {
    color: var(--manatee-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    max-width: 665px;
    padding: 0 36px 36px;
}
.page.mobile {
    padding: 12px 16px 16px;
}
.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(--trout-color);
    max-width: 334px;
    margin: 0 0 20px;
}
.mobile .title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
}
.bonus-types {
    margin-bottom: 76px;
}
.mobile .bonus-types {
    margin-bottom: 28px;
}
.bonus-types li {
    display: flex;
    flex-direction: column;
}
.bonus-types li:not(:last-of-type) {
    margin-bottom: 36px;
}
.mobile .bonus-types li:not(:last-of-type) {
    margin-bottom: 8px;
}
.bonus-title {
    padding: 6px 0 2px 0;
    border-bottom: 1px solid var(--mercury-color);
    margin-bottom: 6px;
}
.bonus-title.available {
    color: var(--green-color);
}
.bonus-title.potential {
    color: var(--trout-color);
}
.bonus-description {
    line-height: 18px;
}
.bonus {
    font-size: 16px;
    line-height: 24px;
    color: var(--trout-color);
    margin-bottom: 34px;
}
.mobile .bonus {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
    margin-top: 11px;
}
.table {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    border-collapse: separate;
    border-spacing: 0 8px;
}
.table th {
    font-weight: 500;
    line-height: 14px;
    padding-left: 8px;
}
.mobile .table th {
    font-size: 12px;
    line-height: 15px;
}
.table tbody tr {
    font-size: 18px;
    line-height: 20px;
    color: var(--trout-color);
    box-sizing: content-box;
}
.mobile .table tbody tr {
    font-size: 12px;
    line-height: 15px;
}
.table tbody td {
    padding: 10px;
    background: #fff;
}
.mobile .table tbody td {
    padding: 8px;
}
.table tbody td:not(:last-of-type) {
    position: relative;
}
.table tbody td:not(:last-of-type):after {
    content: '';
    display: block;
    width: 2px;
    height: 24px;
    position: absolute;
    left: calc(100% - 1px);
    top: 8px;
    background: #f7f8f9;
}
.mobile .table tbody td:not(:last-of-type):after {
    top: 4px;
}
.table tbody td:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.table tbody td:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.footnote {
    margin-bottom: 30px;
    text-align: center;
}
.mobile .footnote {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 14px;
}
.conditions {
    list-style-type: disc;
    margin-left: 24px;
}
.mobile .conditions {
    margin-left: 22px;
    line-height: 18px;
}
.conditions li {
    margin-bottom: 22px;
}
.mobile .conditions li {
    margin-bottom: 18px;
}
.conditions li::marker {
    font-size: 10px;
}
.load-more {
    color: var(--primary-color);
    margin: 0 5px;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
