.preview {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.image {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.element {
    padding: 0 4px;
}
.label {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    color: var(--black-color);
    justify-content: space-between;
}
.label span {
    width: 28px;
    text-align: center;
}
