.checkbox {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    min-width: 16px;
    min-height: 16px;
    position: relative;
}
.input {
    width: 16px;
    height: 16px;
    padding: 0;
    position: absolute;
    top: 2px;
    cursor: pointer;
    background-color: var(--control-bg-color);
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    border-radius: var(--control-border-radius);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.input:hover {
    background: var(--hover-color);
}
.input:focus {
    border: 1px solid var(--primary-color);
}
.input:checked {
    border: none;
    background: var(--primary-color) url("./resources/checked.svg") center no-repeat;
}
.input:checked:hover {
    background-color: var(--primary-hover-color);
}
.title {
    margin-left: 26px;
    font-size: var(--control-font-size);
    line-height: 18px;
    color: var(--control-text-color);
}
.input:disabled ~ .title {
    color: var(--disabled-color);
}
.input:disabled:checked {
    border: none;
    background-color: var(--disabled-color);
}
.error .input:invalid {
    border-color: var(--error-color);
}
