@import './reset.css';

@font-face {
    font-family: 'PT Root UI';
    src: url('./resources/fonts/regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Root UI';
    src: url('./resources/fonts/light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PT Root UI';
    src: url('./resources/fonts/medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'PT Root UI';
    src: url('./resources/fonts/bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./resources/fonts/RobotoRegular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./resources/fonts/RobotoMedium.woff2');
    font-weight: 500;
    font-style: normal;
}

:root {
    --action-bar-height: 56px;
    --header-height: 50px;
    --statusbar-height: 50px;
    --tabs-panel-height: 46px;
    --orders-header-height: 50px;
    --order-page-footer-height: 54px;
    --menu-width: 48px;
    --side-bar-width: 286px;
    --control-height: 36px;
    --control-border-radius: 4px;
    --default-border-radius: 3px;
    --control-font-size: 14px;
    --default-padding: 12px;
    --default-transition: all 0.4s ease-in-out;
    --default-horizontal-page-padding: 36px;
    --default-vertical-page-padding: 28px;
    --vh: 1vh;
    --black-color: #515257;
    --normal-color: #c3c3c3;
    --iron-color: #d2d3d4;
    --gallery-color: #ececec;
    --focus-color: #9a9a9a;
    --concrete-color: #f2f2f2;
    --active-color: #30c2ff;
    --blue-color: #0075ff;
    --azure-blue-color: #0061d2;
    --red-color: #da4052;
    --green-color: #22b56e;
    --yellow-color: #ffa620;
    --silver-color: #c1c1c1;
    --alto-color: #d8d8d8;
    --bright-gray-color: #393e46;
    --zumthor-color: #ebf4ff;
    --link-water-color: #cadef5;
    --trout-color: #505565;
    --clay-color: #232735;
    --manatee-color: #8b90a0;
    --abbey-color: #4d4e55;
    --white-color: #fff;
    --white-hover-color: #f8f8f8;
    --shark-color: #22252a;
    --pink-color: #ffc8c8;
    --bisque-color: #ffe8c5;
    --lightcyan-color: #dff5ff;
    --aero-blue-color: #d8ffec;
    --mercury-color: #e3e3e3;
    --whitesmoke-color: #f3f3f3;
    --lavender-color: #ebecec;
    --malibu-color: #70b2ff;
    --iron-color: #cbccd0;
    --builder-hover-color: #e3f7fd;

    --primary-color: var(--blue-color);
    --primary-hover-color: var(--azure-blue-color);
    --disabled-color: var(--silver-color);
    --border-color: var(--alto-color);
    --report-border-color: var(--lavender-color);
    --border-hover-color: var(--silver-color);
    --hover-color: var(--zumthor-color);
    --selected-color: var(--link-water-color);
    --success-color: var(--green-color);
    --warning-color: var(--yellow-color);
    --error-color: var(--red-color);
    --text-color: var(--clay-color);
    --text-inverse-color: var(--white-color);
    --placeholder-color: var(--manatee-color);
    --control-bg-color: var(--white-color);
    --report-bg-color: var(--lavender-color);
    --control-text-color: var(--trout-color);
    --separator-color: var(--separator-color);
    --action-bar-bg-color: var(--gallery-color);
    --bg-color: var(--concrete-color);
    --menu-bg-color: var(--bright-gray-color);

    --default-border: 1px solid var(--border-color);

    --order-page-footer-z-index: 5;
    --bottom-sheet-z-index: 4;
    --modal-overlay-z-index: 3;
    --modal-overlay-full-mode-z-index: 101;
    --select-z-index: 200;
    --modal-z-index: 4;
    --menu-z-index: 11;
    --arrow-tooltip-z-index: 1500;
    --progress-z-index: 102;
    --status-bar-zindex: 103;
    --construction-configurator-hint--index: 10;
}
html,
body {
    background: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: 'PT Root UI', sans-serif;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
body {
    overflow: auto;
    color: var(--control-text-color);
}
body.with-modal {
    overflow: hidden;
}
body * {
    -webkit-tap-highlight-color: transparent;
}
.app {
    width: 100vw;
    height: calc(var(--vh) * 100);
    overflow: hidden;
}
.app-header {
    background-color: #222;
    height: 65px;
    padding: 20px;
    color: white;
}
.app-title {
    font-size: 1.5em;
}
.app-intro {
    font-size: large;
}
.app__content {
    min-height: calc(var(--vh) * 100);
    padding-top: var(--header-height);
    padding-left: var(--menu-width);
}
.app.hide-navigation .app__content {
    padding: 0;
}
#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.has-top-border {
    border-top: 1px solid var(--border-color);
}
.has-bottom-border {
    border-bottom: 1px solid var(--border-color);
}
:disabled,
.disabled {
    pointer-events: none;
}
@media (hover: hover) {
    *::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    *::-webkit-scrollbar-track {
        background: rgba(255, 0, 0, 0);
        border-radius: 6px;
        border: 4px solid transparent;
        background-clip: padding-box;
    }
    *::-webkit-scrollbar-thumb {
        background: var(--link-water-color);
        opacity: 0.5;
        border-radius: 6px;
        border: 4px solid transparent;
        background-clip: padding-box;
    }
    *::-webkit-scrollbar-track-piece {
        background: transparent;
    }
}
.standard-table {
    border-radius: var(--default-border-radius);
    border: 1px solid var(--border-color);
    overflow: hidden;
    background: #fff;
    font-size: 14px;
}
.standard-table table {
    width: 100%;
    border-collapse: collapse;
}
.standard-table th,
.standard-table td {
    border-bottom: 1px solid var(--border-color);
    padding: 0 12px;
    box-sizing: border-box;
}
.standard-table th:first-child,
.standard-table td:first-child {
    padding-left: 16px;
}
.standard-table th:last-child,
.standard-table td:last-child {
    padding-right: 16px;
}
.standard-table tr:last-child td {
    border-bottom: none;
}
.standard-table th {
    height: 42px;
    font-size: 12px;
    font-weight: 500;
    color: var(--placeholder-color);
    text-align: left;
}
.standard-table td {
    height: 54px;
}
.standard-table tbody > tr:hover {
    background: var(--hover-color);
}
.standard-table tbody > tr.selected {
    background: var(--selected-color);
}
div.active-construction-row-table {
    background: var(--zumthor-color);
}
.tooltip {
    border-radius: 0;
    font-weight: normal;
    font-size: 14px;
    padding: 6px 8px;
    color: #fff;
    white-space: pre-line;
    box-sizing: border-box;
}
.white-hover:hover {
    background: var(--white-hover-color);
}
.white-hover.selected {
    background: var(--white-color);
    cursor: pointer;
}
.blue-hover:hover {
    background: var(--hover-color);
    cursor: pointer;
}
.blue-hover.selected {
    background: var(--selected-color);
}
.sidebar-item {
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
    box-sizing: border-box;
    position: relative;
}
.error-icon,
.warn-icon {
    min-height: 14px;
    min-width: 14px;
    max-height: 14px;
    max-width: 14px;
    border-radius: 50%;
    background-image: url('resources/images/attention_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--red-color);
}
.warn-icon {
    background-color: var(--yellow-color);
}
.error-icon.animate {
    transition: var(--default-transition);
    animation: blink 2s ease-in-out infinite;
}
.printable #carrotquest-messenger-collapsed-container,
.authorized #carrotquest-messenger-collapsed-container {
    display: none;
}
.desktop .carrot-messenger-frame-small-chat.carrot-messenger-frame-container.carrotquest-messenger-line-left,
.tablet .carrot-messenger-frame-small-chat.carrot-messenger-frame-container.carrotquest-messenger-line-left {
    transform: translateX(33px);
}
.a4 {
    size: A4;
    width: 210mm;
    height: 296mm;
    min-height: 296mm;
    max-height: 296mm;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 10mm 10mm;
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    .a4 {
        -webkit-print-color-adjust: exact;
    }
}
@keyframes blink {
    0% {
        background-color: var(--red-color);
    }
    50% {
        background-color: var(--yellow-color);
    }
    100% {
        background-color: var(--red-color);
    }
}
