:root {
    --header-z-index: 100;
    --statusbar-height: 44px;
    --control-height: 32px;
    --header-height: 44px;
    --default-vertical-page-padding: 12px;
    --default-horizontal-page-padding: 16px;
}
.mobile {
    height: auto;
}
.mobile-app {
    font-size: 14px;
    width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--black-color);
    flex: 1;
}
.mobile-app__content {
    padding-top: var(--header-height);
}
.mobile-app.hide-navigation .mobile-app__content {
    padding: 0;
}
.mobile-app .page {
    width: 100vw;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.mobile-app .sidebar {
    width: 100vw;
    min-width: 100vw;
    height: calc(var(--vh) * 100 - 112px);
    box-sizing: border-box;
    position: relative;
    right: 0;
    top: 0;
    border-left: none;
    transition: none;
}
.mobile-app .sidebar-item {
    padding-left: 24px;
    padding-right: 24px;
}
.mobile-app .product-configurator {
    background: #fff;
    padding-bottom: 0;
}
.mobile-app .product-configurator__footer {
    position: relative;
}
.mobile-sidebar .order-configurator {
    flex: 1;
}
.mobile-app .moskitka-configurator__params__colors {
    width: 100%;
}
