.new-sidebar {
    color: var(--placeholder-color);
    width: var(--side-bar-width);
    min-width: var(--side-bar-width);
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.card {
    flex: 1;
    overflow: visible;
    display: flex;
    flex-direction: column;
}
.header {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 48px;
}
.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
