.authorization-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--trout-color);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 260px;
}
.with-footer .content {
    margin-top: auto;
}
.footer {
    margin-top: auto;
    padding-top: 24px;
    align-self: stretch;
}
.authorization-layout.mobile {
    padding: 12px 32px;
}
.mobile .content {
    width: 256px;
}
.logo {
    width: 160px;
    align-self: center;
}
.mobile .logo {
    width: 128px;
}
.mobile.authorization-layout {
    padding-bottom: 18px;
}
