.container {
    padding: 12px 25px;
    overflow: auto;
}
.news {
    margin-bottom: 18px;
}
.date {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--placeholder-color);
    margin-bottom: 4px;
}
.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
}
.content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    white-space: pre-line;
}
.image {
    max-width: 100%;
    margin-top: 18px;
}
