.description {
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
    width: 220px;
}
.message {
    color: var(--placeholder-color);
    margin-bottom: 17px;
    text-align: center;
    width: 260px;
}
