.affiliates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.list-title {
    margin-bottom: 20px;
    display: flex;
}
.affiliate-title {
    width: 594px;
    margin-right: 23px;
}
.list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}
.item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.title {
    width: 594px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: 23px;
}
.hidden-remove-button {
    pointer-events: none;
    opacity: 0;
}
.title-input {
    margin-right: 10px;
    flex-grow: 1;
}
.add-button {
    margin-bottom: 50px;
}
.employees-form {
    align-self: stretch;
}
.employees-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.employees-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.employees-item > *:not(:last-child) {
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 1;
}
.role {
    flex-basis: 310px;
}
.name {
    flex-basis: 265px;
}
.email {
    flex-basis: 235px;
}
.employee-affiliate {
    flex-basis: 280px;
    margin-right: 10px;
}
.permission-error {
    margin-bottom: 20px;
}
.external {
    margin: 0 10px 2px 0;
    color: var(--placeholder-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.margins {
    display: flex;
    flex-shrink: 0;
    transform: translateY(-10px);
}
.margins-title-group {
    display: flex;
    flex-direction: column;
}
.margins-title {
    flex: 1;
    color: var(--placeholder-color);
    font-size: var(--control-font-size);
    display: flex;
    align-items: center;
}
.margin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    color: var(--placeholder-color);
}
.margins > .margin:not(:last-child) {
    margin-bottom: 12px;
}
.price-group {
    display: flex;
    align-items: center;
}
.margins > .price-group {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
.price {
    margin-left: 10px;
}
.margins > .price-group .price {
    margin-left: 0;
}
.price > input {
    width: 50px;
}
.price > p {
    color: var(--placeholder-color);
}
.employee-row {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.mobile .affiliates-item {
    margin-bottom: 16px;
}
.mobile .title {
    width: 100%;
    margin-bottom: 8px;
    margin-right: 0;
}
.mobile .affiliate-title {
    width: auto;
}
.mobile .item {
    flex-wrap: wrap;
    width: 100%;
}
.mobile .external {
    line-height: 20px;
}
.mobile .margins {
    font-size: 14px;
}
.mobile .affiliates-form {
    width: 100%;
}
.mobile .employees-item {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;
}
.mobile .email,
.mobile .name,
.mobile .role {
    margin-bottom: 8px;
    margin-right: 0;
    width: 100%;
    flex-grow: 1;
    flex-basis: auto;
}
.mobile .add-button {
    margin-bottom: 20px;
}
.mobile .employee-affiliate {
    flex-basis: auto;
    flex-grow: 1;
}
.mobile .item {
    flex-direction: column;
    align-items: flex-start;
}
.mobile .margins {
    flex-direction: column;
    transform: none;
}
.mobile .price-group {
    margin-left: 0;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.mobile .margins .price {
    margin-left: 10px;
}
/*.mobile .margins > .price-group > p {*/
/*    margin-right: auto;*/
/*}*/
