.details {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    position: relative;
}
.construction-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 2px;
}
.visibility-button {
    width: 22px;
}
.construction-remove-button {
    position: absolute;
    right: 0;
    top: 0;
}
.construction-copying-button {
    position: absolute;
    right: 0;
    top: 35%;
}
.grey {
    color: var(--normal-color);
}
