.modal-overlay {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(var(--vh) * 100 - (var(--header-height)));
    width: 100vw;
    padding-bottom: var(--header-height);
    background: rgba(81, 82, 87, 0.2);
    z-index: var(--modal-overlay-z-index);
    box-sizing: border-box;
}
.full-mode {
    top: 0;
    height: calc(var(--vh) * 100);
    z-index: var(--modal-overlay-full-mode-z-index);
    padding: 0;
}
.transparent {
    background: transparent;
}
