/* .content {
} */
.footer {
    box-sizing: border-box;
    padding: var(--default-horizontal-page-padding);
}
.save-transfer-button {
    margin-top: var(--default-padding);
    width: 100%;
}
.connector-mode :global(.clickable.svg-connector-clickable-area) {
    cursor: pointer;
    pointer-events: initial;
}
.content.connector-mode :global(.svg-construction-drawer-wrap) :global(.add-button),
.content.connector-mode :global(.svg-dimension-lines-group),
.content.connector-mode :global(.svg-root-frame-group) {
    opacity: 0.2;
    cursor: initial;
    pointer-events: none;
}
.content.connector-mode :global(.svg-connector) {
    cursor: pointer;
    pointer-events: initial;
}
.builder {
    position: relative;
}
.undo-redo {
    position: absolute;
    top: 8px;
    right: var(--default-horizontal-page-padding);
}
.energy-icon {
    position: absolute;
    left: 17px;
    bottom: 15px;
    min-width: 14px;
    height: 18px;
    background: url('../../../resources/images/energy-icon-large.svg') no-repeat;
    background-size: 14px 18px;
    color: var(--abbey-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding-left: 18px;
}
