.form {
    display: flex;
    flex-direction: column;
}
.title {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin: 55px 0 24px;
}
.password-input {
    margin-bottom: 10px;
}
.repeat-password-input {
    margin-bottom: 24px;
}
.button {
    width: auto;
}
.mobile .password-input {
    margin-bottom: 8px;
}
.title.mobile {
    margin: 63px 0 12px;
}
