.panel {
    height: var(--tabs-panel-height);
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    background: #D8D8D8;
}
.tabs-wrapper {
    overflow: hidden;
}
.tabs {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 3px;
    border-bottom: 1px solid transparent;
}
.tab {
    height: 100%;
    width: 178px;
    max-width: 178px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    z-index: 1;
}
.centered .tab {
    min-width: 130px;
    width: auto;
    text-align: center;
}
.tab::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    left: -1px;
    top: 50%;
    background:var(--silver-color);
    transform: translate(50%, -50%);
}
.tab:first-child::before,
.tab:hover::before,
.tab.active::before {
    display: none;
}
.tab:last-child::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    right: -1px;
    top: 50%;
    background: var(--silver-color);
    transform: translate(-50%, -50%);
}
.tab:hover {
    z-index: 2;
    background: #E8E8E8;
}
.tab.active {
    z-index: 3;
    background: var(--bg-color);
}
.tab:hover::after,
.tab.active::after {
    display: none;
}
.tab:hover + .tab::before,
.tab.active + .tab::before {
    display: none;
}
.icon {
    margin-right: 10px;
}
.active-icon {
    margin-right: 10px;
    display: none;
}
.tab.active .icon {
    display: none;
}
.tab.active .active-icon {
    display: block;
}
.title {
    font-weight: 500;
    font-size: 12px;
    color: var(--placeholder-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}
.tab.active .title {
    color: var(--control-text-color);
}
.left-decorator,
.right-decorator {
    display: none;
}
.tab:hover .left-decorator,
.tab.active .left-decorator {
    display: block;
    position: absolute;
    height: 5px;
    width: 5px;
    bottom: -1px;
    left: -5px;
    box-sizing: border-box;
    border: solid 1px transparent;
    border-radius: 50%;
    transform: rotate(135deg);
}
.tab:hover .left-decorator {
    border-color: transparent transparent transparent transparent;
}
.tab.active .left-decorator {
    border-color: transparent transparent transparent transparent;
}
.tab:hover .left-decorator::after,
.tab.active .left-decorator::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    box-sizing: border-box;
    top: -3px;
    left: -3px;
    border-radius: 50%;
    border: solid 2px transparent;
}
.tab:hover .left-decorator::after {
    border-color: #E8E8E8 transparent transparent transparent;
}
.tab.active .left-decorator::after {
    border-color: var(--bg-color) transparent transparent transparent;
}
.tab:hover .right-decorator,
.tab.active .right-decorator {
    display: block;
    position: absolute;
    height: 5px;
    width: 5px;
    bottom: -1px;
    right: -5px;
    box-sizing: border-box;
    border: solid 1px transparent;
    border-radius: 50%;
    transform: rotate(-135deg);
}
.tab:hover .right-decorator {
    border-color: transparent transparent transparent transparent;
}
.tab.active .right-decorator {
    border-color: transparent transparent transparent transparent;
}
.tab:hover .right-decorator::after,
.tab.active .right-decorator::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    box-sizing: border-box;
    top: -3px;
    left: -3px;
    border-radius: 50%;
    border: solid 2px transparent;
}
.tab:hover .right-decorator::after {
    border-color: #E8E8E8 transparent transparent transparent;
}
.tab.active .right-decorator::after {
    border-color: var(--bg-color) transparent transparent transparent;
}
.close-button {
    margin-left: 10px;
}
.tab.active .bottom-decorator,
.tab:hover .bottom-decorator {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -1px;
}
.tab:hover .bottom-decorator {
    background: #E8E8E8;
}
.tab.active .bottom-decorator {
    background: var(--bg-color);
}
