.body {
    background: #fff;
}
.page {
    color: #000;
    font-family: 'Arial', sans-serif;
    line-height: 1.15em;
}
.attention {
    font-size: 8pt;
    text-align: center;
}
.header-table {
    display: flex;
    justify-content: space-between;
    margin-top: 20pt;
    border-spacing: 0;
    border-collapse: collapse;
}
.border-top {
    border-top: 1px solid #000;
}
.border-bottom {
    border-bottom: 1px solid #000;
}
.border-left {
    border-left: 1px solid #000;
}
.border-right {
    border-right: 1px solid #000;
}
.header-table p {
    padding: 1pt 2pt;
    font-size: 10pt;
}
.header-table p span {
    font-size: 8pt;
}
.no-wrap {
    white-space: nowrap;
}
.header-table td,
.header-table th {
    vertical-align: top;
    border: 1px solid #000;
    padding: 0;
}
.flex {
    display: flex;
}
.flex > * {
    justify-content: space-between;
    flex: 1;
}
.title {
    margin-top: 11pt;
    font-size: 14pt;
    font-weight: bold;
    padding-bottom: 20pt;
    border-bottom: 2px solid #000;
}
.table {
    margin-top: 11pt;
    font-size: 9pt;
    vertical-align: top;
}
.table td,
.table th {
    vertical-align: top;
    padding: 0 0 11pt;
}
.table tr > td:last-child {
    font-weight: bold;
    padding-left: 20pt;
}
.total-table {
    width: 100%;
    margin-top: 11pt;
    font-size: 9pt;
    vertical-align: top;
    border: 2px solid #000;
    border-spacing: 0;
    border-collapse: collapse;
}
.total-table td,
.total-table th {
    vertical-align: top;
    border: 1px solid #000;
    padding: 2pt;
}
.total-table tr > td {
    text-align: right;
}
.total-table tr > td:nth-child(1) {
    text-align: center;
}
.total-table tr > td:nth-child(2),
.total-table tr > td:nth-child(3) {
    text-align: left;
}
.total-sum-table-wrap {
    display: flex;
    justify-content: flex-end;
}
.total-sum-table {
    margin-top: 5.7pt;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
    position: relative;
    right: 0;
}
.summary {
    font-size: 10pt;
}
.price {
    font-size: 10pt;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.price > p:last-child {
    flex: 1;
    border-bottom: 2px solid #000;
}
.signature {
    font-size: 10pt;
    font-weight: bold;
}
.signature-title {
    padding-right: 20pt;
}
.signature-name {
    border-bottom: 1px solid #000;
    padding: 0 30pt;
    text-align: center;
    white-space: nowrap;
}
.signature-hint {
    font-size: 8pt;
    font-weight: normal;
    text-align: center;
}
.signatures {
    display: flex;
    margin-top: 10pt;
    transform: translateX(-7pt);
}