.button {
    padding: 0;
    height: 16px;
    width: 16px;
    min-width: 16px;
    cursor: pointer;
}
.button path {
    fill: var(--placeholder-color);
}
.button:hover path {
    fill: var(--control-text-color);
}