.mobile-sidebar {
    width: 100vw;
    height: calc(100% - 44px);
    overflow: hidden;
    transition: var(--default-transition);
    position: fixed;
    top: 0;
    left: 100vw;
    z-index: 4;
    overscroll-behavior: none;
    box-sizing: border-box;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}
.mobile-sidebar__body {
    position: absolute;
    top: 44px;
    left: 0;
    height: calc(100% - 44px);
    width: 100%;
    overflow: auto;
}
.mobile-sidebar.visible {
    transform: translateX(-100vw);
}
.mobile-sidebar__header {
    box-sizing: border-box;
    height: 56px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid var(--bg-color);
}
.mobile-sidebar__header > p {
    font-size: 16px;
    font-weight: 500;
    padding-left: 24px;
    height: 56px;
    line-height: 56px;
    background: url('./resources/left_arrow_icon.svg') 0 50% no-repeat;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
