.input-wrapper {
    display: flex;
    flex-direction: column;
}
.input.error {
    border: 2px solid var(--error-color);
    padding: 0 9px;
}
.input.success {
    border: 2px solid var(--success-color);
    padding: 0 9px;
}
span.error {
    color: var(--error-color);
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
}
