.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    --parent-max-height: calc(100% - 40px - var(--default-padding));
}
.sidebar.has-back-button {
    --parent-max-height: calc(100% - 40px * 2 - 2 * var(--default-padding));
}
.main-view {
    max-height: var(--parent-max-height);
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.main-view.expanded {
    --parent-max-height: 100%;
}
.main-view.expanded.with-nav {
    --parent-max-height: calc(100% - 40px - var(--default-padding));
}
.main-view > div {
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    min-width: var(--side-bar-width);
    max-height: var(--parent-max-height);
}
.subview {
    padding: 11px;
}
.sidebar.has-back-button .main-view > div {
    top: calc(40px + var(--default-padding));
}
.construction-info {
    flex: 1;
    height: var(--parent-max-height);
    display: flex;
    flex-direction: column;
}
.close-button {
    position: absolute;
    right: var(--default-padding);
    top: 12px;
    z-index: 1;
}
