.partner-goods-report-page__body {
    background: #fff;
    height: auto;
}
.partner-goods-report-page__body .app {
    height: auto;
}
.partner-goods-report-page {
    color: #000;
    line-height: 1.15em;
}
.partner-goods-report-page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14pt;
    margin-bottom: 24pt;
    font-size: 14pt;
}
.partner-goods-report-page__table-row {
    box-sizing: border-box;
    height: 28pt;
    border-bottom: 1pt solid var(--report-border-color);
    display: flex;
    align-items: center;
    font-size: 8pt;
    line-height: 1em;
}
.partner-goods-report-page__table-row > * {
    padding: 0 8pt;
    overflow: hidden;
    box-sizing: border-box;
    width: 10%;
}
.partner-goods-report-page__table-row > *:nth-child(1) {
    width: 13%;
}
.partner-goods-report-page__table-row > *:nth-child(2) {
    width: 13%;
}
.partner-goods-report-page__table-row > *:nth-child(3) {
    width: 22%;
}
.partner-goods-report-page__table-row > *:nth-child(4) {
    width: 8%;
}
.partner-goods-report-page__table-row > *:nth-child(5) {
    width: 22%;
}
.partner-goods-report-page__table-row > *:nth-child(6) {
    width: 14%;
}
.partner-goods-report-page__table-row > *:nth-child(7) {
    width: 12%;
}
.partner-goods-report-page__table-row--header {
    background: var(--report-bg-color);
    border-bottom: none;
    height: 18pt;
    font-size: 7pt;
}
.partner-goods-report-page__table-row__order-numbers > p {
    white-space: nowrap;
}
.partner-goods-report-page__table-row__order-numbers > p:first-child {
    font-weight: bold;
}
