.connect-button .context-menu {
    display: none;
    position: absolute;
}
.connect-button.context-menu-visible .context-menu {
    display: block;
}
.connect-button.left .context-menu {
    left: 0;
    top: 32px;
}
.connect-button.right .context-menu {
    right: 0;
    top: 32px;
}
.connect-button.top .context-menu {
    left: 50%;
    transform: translateX(-50%);
    top: 32px;
}
.connect-button.bottom .context-menu {
    left: 50%;
    transform: translateX(-50%);
    bottom: 32px;
}