.picker {
    width: 218px;
    background-color: var(--white-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: var(--default-border-radius);
    border: var(--default-border);
    padding: 15px 15px 23px 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 26px);
    grid-template-rows: repeat(4, minmax(18px, max-content));
    gap: 24px 28px;
    font-weight: 500;
    font-size: 14px;
    color: var(--placeholder-color);
}
.month {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--placeholder-color);
    padding: 4px 0;
    box-sizing: border-box;
}
.month.active {
    color: var(--primary-color);
}
.year {
    grid-column: 1 / span 2;
    line-height: 18px;
}
.arrows {
    grid-column: 3 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.arrow-button {
    width: 16px;
    height: 16px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
}
.arrow-button:hover {
    opacity: 0.6;
}
.next {
    background-image: url('../../../resources/images/down_icon_big_gray.svg');
}
.prev {
    background-image: url('../../../resources/images/up_icon_big_gray.svg');
}
