.dealers {
    max-width: 615px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.title {
    margin-bottom: 20px;
}
.dealers .list {
    align-items: stretch;
    margin-bottom: 16px;
}
.details {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.balance {
    margin-left: 12px;
    font-size: 14px;
    margin-right: auto;
}
.total {
    border: 1px solid var(--border-color);
    border-width: 1px 0;
    padding: 20px 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}
.total-balance {
    font-size: 14px;
}
.total-balance-title {
    margin-right: auto;
}
.offer {
    padding-top: 32px;
    justify-content: flex-start;
}
.offer.horizontal {
    flex-direction: row;
}
.offer.horizontal > *:not(:last-of-type) {
    margin-right: 45px;
}
.link {
    text-align: center;
}
.link:not(:last-of-type) {
    margin-right: 45px;
}
.mobile .list > * {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
}
.mobile .details {
    width: 100%;
}
.mobile .balance {
    margin-left: 0;
    margin-right: auto;
}
