.constructions-table {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.constructions-table-row > .constructions-table-column {
    position: relative;
    box-sizing: border-box;
}
.constructions-table-row > .constructions-table-column:not(:last-child)::after,
.constructions-table-row-final > .final-cost:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--border-color);
    right: 0;
    top: 0;
}
.constructions-table-row-final span {
    color: var(--normal-color);
}
.constructions-table-column {
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
}
.constructions-table-column .svg-icon-construction-drawer {
    height: 24px;
    width: 24px;
}
.remove-button {
    margin-top: auto;
    margin-bottom: auto;
}
.construction-title {
    display: flex;
    align-items: center;
    min-height: 24px;
    line-height: 24px;
    margin-bottom: var(--default-padding);
    color: var(--placeholder-color);
    white-space: nowrap;
}
.construction-title > p {
    margin: 0 8px 0 16px;
}
.constructions-details {
    display: flex;
    flex-direction: column;
}
.constructions-details li {
    padding: 1px 0;
}
.additions {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 2;
}
.additions-row {
    display: flex;
    justify-content: space-between;
    padding: 1px 0;
}
.constructions-table-row {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 1fr 1fr 92px;
    padding: var(--default-padding) 0;
}
.constructions-table-row:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
}
.constructions-table-row-header {
    color: var(--placeholder-color);
}
.constructions-table-column-title {
    display: flex;
}
.constructions-table-column-title > span {
    margin-right: 8px;
}
.constructions-table-column-construction {
    display: grid;
    grid-template-columns: 1fr minmax(62px, max-content);
    grid-template-rows: 1fr max-content;
    gap: 14px 10px;
}
.constructions-table-column-construction-info {
    display: grid;
    grid-template-columns: 1fr 1fr minmax(62px, max-content);
    grid-template-rows: 1fr max-content;
    gap: 14px 10px;
}
.constructions-info {
    grid-column: 1 / span 2;
}
.constructions-table-column-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.constructions-table-total-cost {
    text-align: right;
    align-self: flex-end;
    white-space: nowrap;
    margin-left: 12px;
}
.constructions-table-total-construction-cost {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-between;
}
.init-price {
    color: var(--normal-color);
}
.final-cost {
    text-align: right;
    padding: 0 var(--default-padding);
    position: relative;
}
.constructions-table-construction-cost {
    text-align: center;
    white-space: nowrap;
}
.constructions-table-construction-cost > span {
    color: var(--normal-color);
}
.replace-button {
    width: max-content;
}
.quantity-editor-wrapper {
    display: flex;
    justify-content: flex-end;
}