.body-row {
    display: flex;
    position: relative;
    padding: 8px 0;
}
.dates-row {
    justify-content: space-between;
}
.date {
    font-size: 12px;
    font-weight: 500;
}
.order-number {
    font-weight: 500;
}
.order-state {
    margin-left: auto;
    margin-right: var(--default-padding);
}
.name {
    font-size: 12px;
    font-weight: 500;
}
