.button {
    height: 24px;
    width: 24px;
    background: #fff url('../../../../resources/images/down_icon.svg') center no-repeat;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}
.button:active {
    border-color: var(--active-color);
}